[2021-12-24 15:43] dexios1 opened #1 "bugfix/display patient's name, mobile and email instead of user info"
**Issue description**
We need to display the correct name and contact details of patients in the app. i.e.

`patient.first_name` instead of `patient.user.first_name`
`patient.last_name` instead of `patient.user.last_name`
`patient.mobile` instead of `patient.user.mobile`
`patient.email` instead of `patient.user.email`

Areas where this needs to be updated:

1. Patient search
2. Patient profile vie

[2021-12-29 11:37] chris-dare opened #2 "bugfix/update pharmacy bill display"
**Describe the bug**
Some improvements need to be made for the display for bills especially for requested services (pharmacy, diagnostics). Bill currently shows up as prescribed by the doctor instead of the pharmacist

**To Reproduce**
1. Switch to pharmacy workspace
2. Click on "new prescription" at the pharmacy dashboard
3. Select the drugs and quantity to dispense
4. Proceed to checkout (select

[2021-12-31 09:44] dexios1 opened #3 "feature/display reference ranges for lab reports"
**Tell us about your request!**
Doctors need to see references ranges on lab reports where applicable and the information is available to be displayed

**Which app does this concern?**
Provider portal

**Describe the solution you'd like**
When view a report, we should see the observations, unit of measurement, reference ranges and an interpretation as seen in the image below. This should be displa

[2021-12-31 09:53] dexios1 opened #4 "feature/dispense medications for anonymous patients"
**Tell us about your request!**
Some walk-in patients prefer not to disclose their details when purchasing senstive items like a condom or HIV test kit. This prevents them from receiving their dispense patients are required to have a name, email, mobile and birth date by the [JCI standard](https://www.jointcommissioninternational.org/standards)

**Which app does this concern?**
Provider portal

**

[2021-12-31 13:48] dexios1 opened #5 "bugfix/display error messages on healthcare service CRUD operations"
**Describe the bug**
I'm trying to add additional service tier for Haematologist but the feedback I keep getting is 'cannot read property code of undefined'
Please assist Urgently. Thanks 👍

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to admin workspace
2. Select a service to update and edit it
3. Add a new price tier with invalid info e.g. priority left blank or price of a negativ

[2021-12-31 13:54] dexios1 opened #6 "bugfix/prevent overbooking for slots"
**Describe the bug**
Comment from Dr. Darko: Please alert the team to not book 2 or more people for the same time. Can the time slot be selected only once? This is causing problems at the waiting areas

**To Reproduce**
Steps to reproduce the behavior:
1. Start a visit for a patient and choose a time slot
2. Start a visit for another patient and choose the same time slot (that should not allowed)

[2021-12-31 16:54] dexios1 opened #7 "feature/display dispensed medications"
**Tell us about your request!**
Pharmacists would like to see medications dispensed within a patient's profile in addition to medication prescribed

**Which app does this concern?**
Provider portal

**Describe the solution you'd like**
In the pharmacy workspace we should view a list of medications dispensed for a patient. Each dispensed medications should contain:
1. Name of drug
2. Dosage amount

[2021-12-31 17:02] dexios1 opened #8 "feature/display patient billing history on their profile"
**Tell us about your request!**
We'd like to view a patient's billing history on their profile. This is just like you'd see the bills menu of the billing workspace but filtered by one patient

**Which app does this concern?**
Provider portal?

**Describe the solution you'd like**
Add a new tab for billing history and display the patient's bills. Here's how it should look like:
Tabular data informa

[2021-12-31 17:05] dexios1 opened #9 "feature/mark a prescription has outsourced"
**Tell us about your request!**
We should be able to mark a prescription as outsourced

**Which app does this concern?**
Provider portal

**Describe the solution you'd like**
Not certain. This needs discussion with Evans (pharmacy manager) so it's clear what the ask and use case is.

**Describe alternatives you've considered**
Not certain

**Additional context**
N/A

[2021-12-31 17:07] dexios1 commented on #3
Part of this also includes sourcing the data. Richmond (locum consultant) will be working with us to provide the necessary info

[2021-12-31 17:25] dexios1 opened #10 "bugfix/search for diagnostic test codes offline"
**Describe the bug**
1. The search for test requests during consultations is very slow
2. The right test cannot be selected consistently and takes multiple tries

**To Reproduce**
Steps to reproduce the behavior
1. Start a visit for a patient
2. Switch to the OPD workspace
3. View the patient's profile
4. Begin the consultation
5. Request for a lab by searching for the alias or standard name
6. Yo

[2021-12-31 17:25] dexios1 commented on #10
Worth exploring: Match the LOINC test to their NHIS standard names and use the NHIS names as the alias

[2021-12-31 17:35] dexios1 opened #11 "ops/set up CSAT survey for patients visits"
**Tell us about your request!**
We should set up a customer satisfaction survey for patients on Serenity so that we can measure their happiness ratings as well as collect feedback after each patient visit

**Which app does this concern?**
Provider portal

**Describe the solution you'd like**
When a patient's visit ends, they should get an SMS and email notifying them to fill the a CSAT survey. The

[2021-12-31 17:36] #1 closed

[2022-01-01 16:09] dexios1 opened #12 "feature/process procedures on EMR"
**Tell us about your request!**
The EMR should have the ability to let users process procedures for patients
This should happen for the following areas:
1. Minor OPD procedures
2. Procedures at ER
3. IPD procedures

Here are important stages of the user journey:
1. Setting up a procedure service
2. Requesting a procedure
3. Receiving payments for a procedure
4. Recording the details of an executed

[2022-01-01 17:27] dexios1 opened #13 "bugfix/patient and practitioner names should be saved/displayed in sentence casing"
**Describe the bug**
Sometimes, patient names are not saved/display in sentence casing as expected.
i.e. `Maame ama Test patient` instead of `Maame Ama Test Patient`

**To Reproduce**
1. Switch to OPD/Reception workspace
2. View the list of patients
3. Among the list of patients, you will see some patients with inconsistent casing in their names
4. Repeat the same process for the list of practitio

[2022-01-01 17:28] dexios1 commented on #13
Patient and practitioner names are currently being saved at all times in sentence casing. So this is probably just a display issue. We will investigate

[2022-01-03 07:55] dexios1 opened #14 "ops/implement bill cancelation reports"
**Tell us about your request!**
Finance team needs a report to access and review bill cancelation and refund data

**Which app does this concern?**
Provider portal

**Describe the solution you'd like**
Create a report via metabase. This report will be tabular and contain the following fields:
1. Name of patient
2. Patient MR number
3. Patient contribution
4. Payer contribution
5. Status (refunded

[2022-01-03 09:04] dexios1 opened #15 "Bulk upload healthcare services"

[2022-01-04 08:51] chris-dare opened #16 "feature/update display of patient referrals in encounter wizard"
**Tell us about your request!**
GPs and specialists need to see past referrals in the encounter wizard

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Specialists would have the information and context they need to treat patients appropriately

**Describe the solution you'd like**
Referral note contains:
1. Doctor making the referral
2. Doctor/Departmen

[2022-01-04 08:53] chris-dare commented on #16
Also,

CE team should also be able to see referral requests on patient profile. The following fields should be visible to them:
1. Doctor making the referral
2. Doctor/Department
3. Specialty
4. Referral type

I will put this up as a separate issue

[2022-01-04 08:54] chris-dare commented on #16
@seddie62 list of practitioners doesn't show up when internal doctor is selected. I noticed this changed after we started using the practitioner API to frequently retrieve that data instead of on app load

![image](https://user-images.githubusercontent.com/18426797/148033613-5cfbf3e4-7bff-496c-b172-2fe35639c991.png)

[2022-01-04 09:15] chris-dare commented on #6
Hi @seddie62, let's use the solution you proposed. If the slot status is not free then it should be disabled for selection

[2022-01-04 09:30] chris-dare commented on #8
By implementing this issue we may not have to work on #7

[2022-01-04 09:51] pkdadson commented on #3
Please @dexios1 are you done taking Richmond through?

[2022-01-04 09:56] chris-dare commented on #3
Hi @pkdadson, I've taken him through however he's yet to complete it. Once it's done, we should be able to close of this issue.
In the meantime, I'm working with the data we have already received to ensure that the reference ranges are exposed in the API for you to display. You shouldn't have much to do because we have already integrated this into the app but a 2nd look is definitely necessary.

[2022-01-05 09:25] seddie62 commented on #5
This is a sample response I'm getting from the API
<img width="769" alt="Screenshot 2022-01-05 at 9 24 40 AM" src="https://user-images.githubusercontent.com/32453214/148193576-667b6a36-e1a4-4cae-9a41-8ea95e59e751.png">

[2022-01-05 09:27] seddie62 commented on #6
@dexios1 https://gitlab.com/serenity-cic/emr-web/-/merge_requests/173. Merged into develop

[2022-01-05 09:27] chris-dare commented on #5
Thanks a lot @seddie62. I'll expose the data in errors to the message field as well. In the meantime, let's proceed with the integration.
Also, please make the priority a required field for price tiers

[2022-01-05 09:32] chris-dare commented on #8
Hi @pkdadson, I see we have this in the billing workspace: https://demo.provider.serenity.health/billing/patients/14/bills
So we'll just have to make it available in the OPD and reception workspaces.
Finally, the missing filters and columns would have to be functional and visible.

[2022-01-05 11:56] chris-dare commented on #6
Just tested. Looks awesome <3. Thanks @seddie62

[2022-01-05 12:02] chris-dare commented on #6
Hey Frank and Ansbert. You'll notice now that slots that have been booked can no longer be selected as seen in the screenshot below for 12:45pm

![image](https://user-images.githubusercontent.com/18426797/148214312-afec220e-33eb-486e-aa33-e16c9b201b83.png)

[2022-01-05 12:19] chris-dare commented on #8
Hi @pkdadson, thanks for speaking. I just checked and can confirm that the filters are currently present. Here are the filter fields you need:

1. `category` (use the HealthcareServiceCategoryType valueset for this)
2. `created_on__after`
3. `created_on__before`

So if I wanted to find Consultation bills from the 1st of Jan to 21st of december, these will be my filter values:
[code]

[2022-01-05 13:06] chris-dare opened #17 "ops/set up MIS report"
**Tell us about your request!**
Doctors need a report to view details of encounters with patients. This is currently referred to as the "MIS report"
@DanielDarko12 has shared a sample of this report with @dexios1

**Which app does this concern?**
Provider portal

**What will be the benefit of this feature?**
I'll refrain from assuming and get write what @DanielDarko12 describes

**Describe the sol

[2022-01-05 13:44] chris-dare opened #18 "ops/set up daily attendance report (patient visits)"
**Tell us about your request!**
CE team needs a report to summarize patient visits. It describes total number of clients (patients) seen on a particular day across provider locations (includes both new and existing patients)

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
We can track the progress of service adoption, monitor trends and take better deci

[2022-01-05 14:17] chris-dare opened #19 "ops/set up client billing report"
**Tell us about your request!**
CE team needs a report to report on bills generated by patients. It lists alls bills generated by patients over a given period of time by payment method. This is the same as the "Panel wise report"

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
- Provides an understanding of the distribution of payments by payment method

[2022-01-05 14:38] chris-dare opened #20 "ops/set up patient encounter wait time report"
**Tell us about your request!**
CE team needs a report to detail patient wait times. It tracks patient wait time across the various units. Here's a typical patient journey:
1. Check-in
2. Payment
3. Triage
4. Consultation encounter (start time, patient profile viewed)
5. Service request payment
6. Service request sample collection
7. Service request report generated
8. Review of diagnostic report

[2022-01-05 14:45] chris-dare opened #21 "feature/display visit notes"
**Tell us about your request!**
Will be important to display the visits notes on the patient's bills and in the encounter wizard

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Doctors and cashiers have enough context for decision making

**Describe the solution you'd like**
Not certain. Will need to complete an interview and design a solution

**Descri

[2022-01-05 15:22] chris-dare opened #22 "feature/display patient care plan"
**Tell us about your request!**
Doctors write notes on a patient's care plan during a consultation. This needs to be visible on the patient's profile well after the consultation is over

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Practitioners can see the patient's care plan and take action to improve delivery of care to the patient

**Describe the

[2022-01-05 15:44] chris-dare commented on #13
@DanielDarko12 this is done. The names will be updated the next time the patient checks in for a visit or their patient profile is viewed.
The change is available on demo.

[2022-01-05 16:24] chris-dare opened #23 "feature/suspend a corporate payer's benefactor (employee)"
**Tell us about your request!**
We should be able to suspend a payer's benefactor in the app. First, this will be in on the EMR and then exclusively on the corporate portal

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
When suspended benefactors are billed, this leads to claim disputes and revenue loss for providers. Suspending these benefactors ensur

[2022-01-05 17:00] chris-dare commented on #20
Also important to update the patient's visit status with each activity

[2022-01-05 17:15] chris-dare opened #24 "feature/download patient diagnostic report from patient's profile in OPD workspace"
**Tell us about your request!**
Doctors would like to view a pdf of diagnostic reports from a patient's profile within the OPD workspace

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
Make the button to

[2022-01-05 18:26] chris-dare opened #25 "bugfix/check service request status"
**Describe the bug**
CEs working with the diagnostics team are unable to view in realtime, status of service requests

**Impact**
If the CEs don't find the patient's service request or see the status, then patient reports will be delayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Reception workspace
2. Click on diagnostic orders in the sidebar
3. Search for a completed service re

[2022-01-05 18:33] chris-dare opened #26 "feature/search for service request by date"
**Tell us about your request!**
Should be possible to search for service request by date requested

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Makes it easier to find patients' service request so process will be faster

**Describe the solution you'd like**
Add a date range filter for requested dates

**Describe alternatives you've considered**
N/A

[2022-01-06 09:37] chris-dare commented on #23
Notes from call with Kwasi:

*Employee suspension*
- Some organizations update their list of employees by sending their blacklist
- Other organizations update their list of employees by sending their active employees

So it's important to ensure that we have processes for both use cases implemented.

*Employee dependent suspension*
HIS currently adds dependent beneficiaries as patients.

Also impo

[2022-01-06 11:14] chris-dare opened #27 "feature/configure reference ranges in app"
**Tell us about your request!**
We should have the ability to configure observation interpretation rules in the app

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Diagnostcs team will be able to configure observation interpretation rules without engineering's intervention

**Describe the solution you'd like**
This will be IP. @dexios1 will set up an in

[2022-01-06 11:33] chris-dare opened #28 "feature/edit diagnostic report"
**Tell us about your request!**
A service request typically corresponds to one diagnostic report.
When results are entered, we should have the ability to update them in the case of an error - even when marked as final.
This also means that patients should be explicitly notified of their test results as a manual process instead of automatically when the DiagnosticReport is approved.

**Which app do

[2022-01-06 11:58] chris-dare opened #29 "feature/view patient's encounter diagnoses in service request"
**Tell us about your request!**
View patient's visit diagnoses on service request. In addition to that, biomedical scientists should be able to see the patient's encounter history in the diagnostic workspace

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Viewing this information helps a biomedical scientist validate their test results

**Describe the s

[2022-01-06 12:00] chris-dare opened #30 "bugfix/free time slot on bill cancelation"
**Describe the bug**
Not able to reuse a time slot for a canceled encounter

**Impact**
Money will be lost because patients can't consult with doctors when doctors are available

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to reception workspace
2. Start a visit for a patient
3. Switch to billing workspace
4. Attempt to cancel the patient's consultation bill
5. You'll notice that e

[2022-01-06 12:10] chris-dare opened #31 "bugfix/show diagnostic observation by display instead of code"
**Describe the bug**
Show the display (instead of the code) for each observation in the diagnostic report.
E.g. we should see `Genetic Observation Interpretation` instead of `_GENETICOBSERVATIONINTERPRETATION`

**Impact**
Presenting the information in a user friendly manner helps patients and doctors better understand diagnostic reports

**To Reproduce**
Steps to reproduce the behavior:
1. Switch

[2022-01-06 12:13] chris-dare commented on #27
Also important to indicate in the excel sheet whether options will be a dropdown or freetext, when the results are not numeric.

See Urinalysis macrodipstick test as an example

[2022-01-06 12:54] DanielDarko12 commented on #13
This is great. I think this may not be entirely sorted. Please check the pix I posted on Serenity this morning

Daniel Osafo Darko , MD, MGCPS(Fam Med)Specialist Family Physician+233 50 644 32 74http://www.linkedin.com/in/daniel-osafo-darko-592baa87
 "Let your life reflect the faith you have in God. Fear nothing and pray about everything. Be strong, trust God’s word, and trust the process." - Germ

[2022-01-06 13:04] DanielDarko12 commented on #17
Yes, we can drop covid like symptoms and travelling and make room for other parameters to be accessible later if needed

Daniel Osafo Darko , MD, MGCPS(Fam Med)Specialist Family Physician+233 50 644 32 74http://www.linkedin.com/in/daniel-osafo-darko-592baa87
 "Let your life reflect the faith you have in God. Fear nothing and pray about everything. Be strong, trust God’s word, and trust the process

[2022-01-06 14:34] chris-dare commented on #7
Note: Inventory items currently do not store dosage form. We'll need to account for this

[2022-01-06 14:53] chris-dare opened #32 "feature/search for prescriptions by date"
**Tell us about your request!**
Add search and filters for prescriptions by date and item name on the patient's profile

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Easier to find medication requests. This will speed up dispenses and reduce patient wait times

**Describe the solution you'd like**
On the patient profile, under the prescriptions tab (p

[2022-01-06 15:14] chris-dare opened #33 "feature/add dosage form to medication request"
**Tell us about your request!**
Dosage forms need to be saved and displayed on medication requests in the OPD and Pharmacy workspace

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Pharmacists will know what kind of medications to be dispensed. It willl prevent cancelation of bills and ensure that the patients receive the right drugs

**Describe the sol

[2022-01-06 15:27] chris-dare opened #34 "feature/prescribe medications from inventory"
**Tell us about your request!**
Pharmacy would like doctors to prescribe medications from the inventory instead of the list of standard names we are using

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Inventory items already have information like dosage form etc and so this reduces the number of clicks the doctors will have to make.
However, there are

[2022-01-06 15:36] chris-dare opened #35 "bugfix/update sort inventory"
**Describe the bug**
Inventory items are currently not sorted by earliest expiry date

**Impact**
We run the risk of later having items expiring because they were not dispensed earlier

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2022-01-06 15:44] chris-dare opened #36 "bugfix/prevent debiting of inventory beyond quantity available"
**Describe the bug**
Possible to select more than available quantity of a pharmacy item for dispense

**Impact**
What is the impact of this problem?

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to pharmacy workspace
2. Select a patient
3. Switch to prescriptions tab on profile
4. Select items to dispense.
5. Exhaust the quantity
6. Add to cart
7. Select the item again and add more

[2022-01-06 15:46] chris-dare opened #37 "feature/finetune patient contribution on specific services"
**Tell us about your request!**
Health insurance policies define details affecting payments. One of them is patient contributions on payments.
What this means is that a patient's insurance plan (and their card) may state a 10% contribution, however their policy may exempt them from contributions on lab payments. It's important that copayments are implemented such that any amount of money can be re

[2022-01-06 15:47] chris-dare opened #38 "feature/set default payment method for patient visit"
**Tell us about your request!**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description

[2022-01-06 15:49] chris-dare opened #39 "feature/display patient payment methods on profile [pharmacy]"
**Tell us about your request!**
Display known payment methods on patient profile when dispensing medications

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alterna

[2022-01-06 15:54] chris-dare opened #40 "feature/print prescription"
**Tell us about your request!**
Should be able to print a patient's prescription

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
What's the value of this feature

**Describe the solution you'd like**
Looks similar to outsourced prescription. (Title will be different of course). See below:
![image](https://user-images.githubusercontent.com/18426797/14841

[2022-01-06 16:35] chris-dare opened #41 "feature/receive payments for multiple service requests"
**Tell us about your request!**
Should be possible to receive payments for multiple service requests

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Time is saved and cashiers can process bills faster

**Describe the solution you'd like**
We should search through the list of draft service request
1. When you select one service request, you select servic

[2022-01-06 17:05] chris-dare opened #42 "feature/display age of patient in list of visits"
**Tell us about your request!**
Doctors will like to see the age of patients when viewing lists of patients on the OPD and reception dashboard

**Which app does this concern?**
Provider portal

**What will be the benefit of this feature?**
Doctors can make better decisions which patient to treat

**Describe the solution you'd like**
Pretty clear. Display the age of patients like is done at https:/

[2022-01-06 17:07] chris-dare commented on #41
Issue report: ""When bills are settled, it takes several seconds before receipt shows on screen
Can bulk billing be done for items? A ""select all"" feature could be useful"

[2022-01-06 17:22] chris-dare opened #43 "feature/link patient profiles"
**Tell us about your request!**
Should be able to see patient history across their multiple duplicate patient records

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Practitioners will have a 360 view of the patient

**Describe the solution you'd like**
Implement patient link: https://www.hl7.org/fhir/patient.html#links

**Describe alternatives you've c

[2022-01-06 18:59] chris-dare opened #44 "bugfix/rename healthcare services"
**Describe the bug**
Healthcare services cannot be renamed

**Impact**
If services do not have their correct names, then they cannot be easily identified at points of payment or service request. This can lead to revenue loss.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to admin workspace
2. Click on "services and pricing"
3. View an existing service
4. Click the edit button
5. Cha

[2022-01-06 19:09] chris-dare opened #45 "feature/view diagnostic test by service name or alias"
**Tell us about your request!**
Doctors currently find it difficult to request for some diagnostic tests because standard name (from LOINC) that shows up is not familiar to them

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
If doctors can find the tests they are looking for, they will not issue manual requests
Cashiers will be able to bill appropriate

[2022-01-06 19:12] chris-dare opened #46 "bugfix/additional empty and unwanted observations found in diagnostic report"
**Describe the bug**
"I entered report for CBC only for this patient but the final report ended up including liver function report, ear swab report( Although those test reports were empty)"

**Impact**
Patients and doctors will see irrelevant diagnostic reports results

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to diagnostic workspace
2. Request a "Full Blood Count" via the "New

[2022-01-06 19:21] chris-dare opened #47 "bugfix/update pagination (page size and page count)"
**Describe the bug**
Sometimes, when you update the page size for a table, it doesn't change it. Sometimes it does. This needs to be accurate and predictable

**Impact**
Doctors would like to see a much large list of patients on a visits but can't. Some patients may be missed as a result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Reception workspace
2. Click on diagnostic orders

[2022-01-06 19:26] chris-dare commented on #47
@seddie62 here's a screencast help troubleshoot the issue: https://www.loom.com/share/7699fe55efd644c29fa02e19a4f298a0

I've sent the password to the loom via slack

[2022-01-07 09:00] chris-dare commented on #42
@seddie62 thanks for the update. I see it works for some patients but not all. For e.g. this fictional test patient has an age but it's not displayed.

Here's the visit list:
![image](https://user-images.githubusercontent.com/18426797/148519244-ded2ca9f-5583-4261-ad0b-cd0bc4ad0899.png)

This is their profile:
![image](https://user-images.githubusercontent.com/18426797/148523262-49c32f10-9cd9-4966-

[2022-01-07 09:07] chris-dare commented on #16
Feedback from Dr. Ghartey:
1. It's helpful to view the referrals now but the doctors are not able to view the referral reason at first glance unless this edit the referral note (which is risky because someone can change the referral note by mistake)
![image](https://user-images.githubusercontent.com/18426797/148520050-273edc75-832e-4a2e-bc50-ff11b894d518.png)
2. Also, they'd like to see the referr

[2022-01-07 09:10] chris-dare commented on #22
Feedback from Dr. Ghartey: This works

cc: @DanielDarko12

[2022-01-07 09:16] chris-dare opened #48 "bugfix/display patient notes accurately on save"
**Describe the bug**
When patient notes are added on the patient profile, they not seen until the page is refreshed. It creates the illusion that the note has not been saved

Also for patient's encounters where text have been input into the "Notes" section, it usually appears as "written by" " Dr Chris Dare" regardless of which doctor types it in. This can be seen in the notes tab after choosing t

[2022-01-07 12:08] chris-dare commented on #37
Hope this helps with the frontend technical implementation: @seddie62 @pkdadson

![image](https://user-images.githubusercontent.com/18426797/148542060-39ba81da-04de-4746-a0bd-a2e4ac68b56d.png)

[2022-01-07 17:37] chris-dare commented on #45
Related issue: #10

[2022-01-07 19:33] chris-dare opened #49 "ops/encounter report (appointment status)"
**Tell us about your request!**
Finance team needs a report on patient visits booked via slots. It lists all encounters accessing via booking of a slot (via an appointment or) over a given period of time by payment method. This is the same as the "appointment status report" used by the finance team

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
- Provi

[2022-01-07 19:34] chris-dare commented on #49
Related reports #18

[2022-01-07 20:09] chris-dare opened #50 "ops/set up credit sales report"
**Tell us about your request!**
Finance team needs a report of credit sales. It lists lists paid by corporate or insurance payment methods for a given period of time

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Finance team can reconcial credit payment. Sales and marketing team can monitor trends and make strategic decisons leading to revenue growth

[2022-01-07 20:30] #22 closed, assigned to seddie62

[2022-01-07 20:30] #44 closed, assigned to chris-dare

[2022-01-07 20:31] #45 closed, assigned to chris-dare

[2022-01-07 20:36] #6 closed

[2022-01-08 17:02] chris-dare opened #51 "bugfix/update related patient profile on benefactor save"
**Describe the bug**
Can't create an organization benefactor (corporate or insurance) when patient isn't linked to user

**Impact**
When the benefactor cannot be added, they unable to pay for services

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to billing workspace
2. Find a patient orphaned from user profile
3. Add the patient to a corporate or insurance organization
4. You'll no

[2022-01-08 17:11] chris-dare opened #52 "feature/set up unavailable test report"
**Tell us about your request!**
It would be helpful to set up a report that display tests requested by doctors that have not been set up as healthcare services

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can expand their provision of services to support new tests at their locations

**Describe the solution you'd like**
Set up a report via

[2022-01-09 23:58] pkdadson commented on #23
@dexios1 please I don't understand this request.

[2022-01-10 00:01] pkdadson commented on #24
@dexios1 please that button is already in the OPD workspace<img width="1439" alt="Screenshot 2022-01-10 at 00 00 46" src="https://user-images.githubusercontent.com/38428845/148706532-cb9171a6-c26e-4725-b9b0-5ac51b21fe20.png">

[2022-01-10 00:07] pkdadson commented on #32
@dexios1 can you make this a bit graphical?

[2022-01-10 00:09] pkdadson commented on #40
@dexios1 please I will be waiting for the api.

[2022-01-10 08:36] chris-dare commented on #40
Got it.

[2022-01-10 11:04] chris-dare commented on #8
Hey @pkdadson,

Thanks for working on this. It's great to see this!

I'm sharing initial feedback on areas that need improvement.
I'm not able to select a service category. Please use the healthcare service category valueset for this.

![image](https://user-images.githubusercontent.com/18426797/148755287-43e4f4d8-3a29-4d82-82ab-8aa526c75ed2.png)

I also notice that, after changing the date range t

[2022-01-10 12:13] chris-dare opened #53 "ops/update claims report (patient invoice detail)"
**Tell us about your request!**
Finance team needs some filters on the claims report. Please build these in.

**Which app does this concern?**
Provider portal

**What will be benefit of this improvement?**
Finance team can search and retrieve information more accurately in order to reconcile credit payments.

**Describe the solution you'd like**
Add filters to the BI report for the following field

[2022-01-10 16:54] chris-dare commented on #43
Important to accelerate this. For duplicate patients, it creates the impression that consultation notes are not being saved

[2022-01-10 16:56] chris-dare opened #54 "feature/mark a claim as settled"
**Tell us about your request!**
Credit control team should have the ability to settle a claim.

Todo: Complete notes. Set up interview. Triage for next sprint(s)

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd l

[2022-01-11 08:20] chris-dare commented on #24
Hi @pkdadson thanks for this. I'll try to make the asks more specific going forward. It should be easier now especially with Richmond resuming his operations.

The doctors need to see it on the patient's profile. Currently they do not have that button on their profile. See the image below:
![image](https://user-images.githubusercontent.com/18426797/148906009-51127c50-863d-49d6-8ec4-3310f339ccfe.pn

[2022-01-11 10:56] chris-dare opened #55 "feature/request to receive payment in reception module"
**Tell us about your request!**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description

[2022-01-11 16:26] chris-dare opened #56 "bugfix/update EOD cash sales report"
**Describe the bug**
Unapproved refund requests are excluded from cashiers' end of day sales. This should only be excluded after the bill has been marked as aborted

**Impact**
Operations are liable to fraud as legitimate sales may be excluded from report required for reconciliation

**To Reproduce**
1. Receive a payment for a bill
2. Request a refund
3. Do not approve it or mark it as refunded
4.

[2022-01-11 16:37] chris-dare commented on #25
Statuses should also be user friendly.

Also, notes (order details) from the service request should be present when a service request is viewed

cc: @pkdadson

[2022-01-11 19:51] seddie62 commented on #33
@dexios1 is there a design for this

[2022-01-11 19:55] chris-dare commented on #33
Alas, no.

It will be similar to the other fields though (e.g. the medication name).
So we're looking at a dropdown for the input
And a text display for the output.

Tryna get Richmond back this week to help with the visuals

[2022-01-12 04:26] pkdadson commented on #31
@dexios1, please that was supposed to be the value of the result by this is what we have in the payload.
<img width="725" alt="Screenshot 2022-01-12 at 04 26 05" src="https://user-images.githubusercontent.com/38428845/149063712-eaae3c8e-fe88-44ca-9f92-3476c555ca20.png">

@dexios1

[2022-01-12 04:29] pkdadson commented on #3
@dexios1  <img width="758" alt="Screenshot 2022-01-12 at 04 29 13" src="https://user-images.githubusercontent.com/38428845/149063992-f7e2ff61-6fee-44b3-816f-84bd7dcb4233.png">

[2022-01-12 13:52] chris-dare commented on #11
Updates:

I've set up a survey on Delighted. It measures customer happiness. See here: https://delighted.com/t/119VoRuL

Here's a demo of how the responses will look like over time: https://demo.delighted.com/dashboard?page=2

[2022-01-12 15:50] chris-dare commented on #51
Update: I ran a test to see that this will cause challenges since patients can no longer be identified by email or phone number
The profile of the patient in question needs to be updated before they are added as a corporate employee or insurance benefactor.
Starting their visit before adding them as benefactors/employees also resolves this

[2022-01-12 15:50] #51 closed, assigned to chris-dare

[2022-01-12 16:14] chris-dare opened #57 "feature/add permission to print payment receipt"
**Tell us about your request!**
It's important to ensure that only authorized users can print payment receipts. Ideally, this should be a cashier at a provider

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Reduces risk of fraud and disputes/chargebacks

**Describe the solution you'd like**
Add permission for printing receipts. Set to cashier role by d

[2022-01-12 16:21] chris-dare opened #58 "feature/set up bill history (ChargeItemAudit)"
**Tell us about your request!**
Implement an action history for bills (charge items) just like PatientAccount. It should account for the following actions:
1. Bill creation
2. Bill payment (successful and unsuccessful transactions)
3. Bill cancelations and approval
4. Bill and receipt printing
5. Viewing a bill

**Which app does this concern?**
Provider portal

**What will be benefit of this featu

[2022-01-12 16:31] chris-dare opened #59 "ops/set up stock adjustment report + pharmacy metrics"
**Tell us about your request!**
Todo: Scope out requirements for pharmacy stock adjustment report

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen

[2022-01-13 14:13] chris-dare commented on #16
@seddie62 following up on this

Dr. Darko and Ghartey would like to see the notes at quick glance. Same for printing

[2022-01-14 06:48] dexios1 commented on #32
Testing subscription to comments

[2022-01-14 06:52] chris-dare opened #60 "feature/merge organizations?"
**Tell us about your request!**
Merge a corporate or insurance provider

Speak with Kwasi for more detail

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want t

[2022-01-14 07:49] chris-dare commented on #3
Noted.

Hey btw I noticed the units from the observation unit category valueset are not being sent back to the API

![image](https://user-images.githubusercontent.com/18426797/149470651-b894447c-02c9-4e47-ad11-613e9e3e4bef.png)

Try entering results for a complete blood count to see what I mean

[2022-01-14 08:54] chris-dare commented on #46
Hi @pkdadson this bug is still there.

Here is an example of the payload that was sent for a Complete blood count. It has obsevations for a urine test which is what I first selected

[code]

[2022-01-15 13:05] #25 closed, assigned to chris-dare

[2022-01-15 13:05] dexios1 commented on #25
Fixed in https://github.com/serenity-health/core-systems-api/pull/3

[2022-01-15 13:09] #48 closed, assigned to seddie62

[2022-01-15 13:10] #47 closed, assigned to seddie62

[2022-01-15 13:37] #10 closed

[2022-01-15 18:11] chris-dare commented on #3
Closed in core systems - 5

[2022-01-15 18:11] #3 closed

[2022-01-15 20:33] #14 closed

[2022-01-15 20:35] #8 closed

[2022-01-15 20:36] #42 closed, assigned to seddie62

[2022-01-19 10:17] chris-dare commented on #34
Hi @seddie62,

@DanielDarko12's ask to let to doctors select a dosage form can be partially solved by working on this issue. We will have to revisit it to build a more appropriate solution. However, this gives a quick win now

[2022-01-19 17:03] chris-dare opened #61 "feature/request for multiple labs"
**Tell us about your request!**
Should be possible to raise multiple service requests like is done with prescriptions

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Speed improvements for doctors

**Describe the solution you'd like**
TBD: Richmond will host an interview with Fred and Dr. Darko to clarify requirements. Seems straightforward though. See

[2022-01-19 17:16] chris-dare opened #62 "feature/implement real time encounter queue"
**Tell us about your request!**
TBD: Schedule interview with CE team

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives yo

[2022-01-20 10:55] chris-dare opened #63 "feature/update PCR diagnostic report"
**Tell us about your request!**
NSM team wants a report to summarize patient covid testing activity

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Better accountability, and insights for decision making

**Describe the solution you'd like**
Create a report via metabase and update the diagnostic report
The report will be tabular and contain the followin

[2022-01-20 14:18] chris-dare commented on #41
Richmond, thanks for speaking. So here's the user journey:

1. Search for patient
2. Choose price tier for each lab and add to cart
3. Select payment method
4. Review summary
5. Receive payment
6. View and print receipt

[2022-01-20 17:07] chris-dare opened #64 "feature/group labs in batches"
**Tell us about your request!**
Has something to do with lab no. Ref (HIS)

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternati

[2022-01-20 17:08] chris-dare opened #65 "feature/appointment confirmation report"
**Tell us about your request!**
Speak with Frank, Dr. Darko for more details

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alterna

[2022-01-20 18:15] chris-dare opened #66 "feature/paginate prescriptions"
**Tell us about your request!**
TBD

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2022-01-24 08:40] #18 closed, assigned to chris-dare

[2022-01-24 08:41] chris-dare commented on #50
Closing. Same as claims report

[2022-01-24 08:41] #50 closed, assigned to chris-dare

[2022-01-24 08:41] #59 closed, assigned to chris-dare

[2022-01-26 07:28] chris-dare commented on #46
Thanks for completing this @pkdadson

[2022-01-26 07:28] #46 closed, assigned to pkdadson

[2022-01-26 09:06] chris-dare commented on #7
We have made the prescription feature available in the pharmacy workspace which allows us to view all prescriptions made for a patient (dispensed or not)

[2022-01-26 09:06] #7 closed

[2022-01-26 10:08] chris-dare opened #67 "feature/update display of patient receipts"
**Tell us about your request!**
Cashiers would like to have additional details displayed in PDF/printed patient transaction receipts

**Which app does this concern?**
Provider portal?

**What will be benefit of this feature?**
More context on the bill providers patients and cashiers with information and context for faster accurate decision making e.g. who to send the patient to

**Describe the sol

[2022-01-26 10:11] chris-dare commented on #67
This updates the priorities of asks for the finance team:

1. Printing claims (ETA: Friday EOD)
2. Raise multiple bills (ETA: Monday EOD)
3. Request multiple labs (ETA: Monday EOD)
4. Cash sales reporting - EOD reports (ETA: exact date TBD but sometime next week)
This includes:
 Group bills under cashier
 Group bills for each day by date of payment
5. Updates to receipts (ETA: exact date TBD but s

[2022-01-27 10:22] chris-dare commented on #18
This needs to be done by encounters instead of visits.

Recommendation:
Filter bills by consultation and exclude registration bills based on name set

[2022-01-27 10:39] chris-dare commented on #18
Patient attendance growth/footfall (YoY, or monthly)

[2022-01-27 10:41] chris-dare commented on #18
Patient attendance for consultations grouped by location is also required

[2022-01-27 10:52] chris-dare opened #68 "feature/display primary performer name on charge item list"
**Tell us about your request!**
CEEs need to see the name of the primary performing practitioner in the list of patient bills.
For a consultation, this will be the doctor,
Diag will be the lab scientist
Pharmacy will be the pharmacist
and so on....

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Helps with accurate billing. Some consultations cost diffe

[2022-01-27 11:08] chris-dare opened #69 "feature/display patient nationality on search/list of patients"
**Tell us about your request!**
CEEs would like to see the patient nationality on the patient's profile

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Helps CEEs to make an informed decision on how much to bill patients since there are different charges for residents and foreigners

**Describe the solution you'd like**
Not sure. Will have to speak with

[2022-01-29 15:36] chris-dare commented on #17
KPIs generated from this data for medical:
1. Top 10 diseases
2. Top 10 reasons for OPD visits at provider (bar chart)
3. Tell top 10 diseases by location
4. Top 10 reasons for OPD visits at provider (bar chart)
5. Top 10 lab requested
6. Top 10 medication requests
** Usually generated monthly and annually
Helpful filters: Specialty and revenue tags (revenue tags yet to be built it)

Primary care

[2022-01-29 16:34] chris-dare opened #70 "feature/display total assigned patients in visit list"
**Tell us about your request!**
Todo: Scope from tracker

**Which app does this concern?**
Provider portal? Corporate portal? Patient app?

**What will be benefit of this feature?**
What's the value of this feature? If you can quantity it, that would be awesome!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've conside

[2022-01-29 17:38] chris-dare commented on #59
BI questions to answer in a pharmacy dashboard:
1. Percentage of patients with prescriptions as a fraction of patients with consultations
2. Percentage of patients served medications as a fraction of consultations with prescriptions
2. What medications have been prescribed for each patient
3. What drugs are available in the inventory
4. What is the percentage patients with prescriptions were serve

[2022-01-31 13:16] dexios1 opened #71 "feature/register an insurance dependent"
**Tell us about your request!**
Providers will like to register insurance dependents in addition to insurance users (modeled as employees)

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
- Dependents can pay for services by spending against a patient account managed by their insurance provider
- Insurance card details of dependents will be saved, this w

[2022-02-02 16:17] chris-dare opened #72 "feature/back up medical imaging data on cloud"
**Tell us about your request!**
Diagnostic imaging team will require us to store patient medical imaging data on the cloud that will be backed up devoid of data corruption

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Patient data can be accessed without fail

**Describe the solution you'd like**
TBD. Yet to scope. Will need to discuss with the diagno

[2022-02-03 07:55] #24 closed, assigned to pkdadson

[2022-02-03 07:55] #36 closed, assigned to pkdadson

[2022-02-03 09:40] chris-dare opened #73 "feature/suspend an employee/benefactor (API)"
**Tell us about your request!**
Corporate admins would like to suspend employees from receiving coverage from their organizations

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
This will lower the risk of claim disputes since suspended employees will not have the option to pay with that organizaiton.

**Describe the solution you'd like**
1. Implement a

[2022-02-03 14:26] chris-dare commented on #17
Health hub interview

Summary of meeting with Lauretta Elloh-Donkor:
1. Get a list of labs requested:
a. Patient's first, other, last name
b. MR number
c. Lab requested
d. Mobile number
e. Date of visit (when requested)
f. Doctor that saw them

This is for the following tests:
1. Fasting blood sugar -> this has been setup
2. Glycated hemoglobin (HBA1c) -> this has also been set up
3. Random blood

[2022-02-03 14:57] chris-dare opened #74 "ops/set up health hub metrics for chronic dieases"
**Tell us about your request!**
Health hub team will like to get test results for patients with chronic illnesses sent daily. Tests for chronic illnesses required at this time are:
1. Fasting blood sugar -> this has been setup and results can be provided
2. Glycated hemoglobin (HBA1c) -> this has also been set up and results can be provided
3. Random blood sugar -> couldn't find results under this

[2022-02-03 18:38] chris-dare opened #75 "design/create an admin bill"
**Tell us about your request!**
We need a feature to create bill that may not be related to clinical activities.

Cintext: Some bills are not related to a clinical activity - like registering a new patient.
That means there is no activity that will automatically trigger them and so someone needs to take an action of creating those bills. Those bills will fall under the category of an administrativ

[2022-02-04 12:42] chris-dare opened #76 "feature/quantity based refund"
**Tell us about your request!**
Products sold can be returned in full or part in exchange for refund. This typically would happen at the pharmacy - although it can also cover other use cases like the sale of medical devices.
Practitioners will need a way to receive these items and refund

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can main

[2022-02-04 12:44] dexios1 commented on #76
Hi @TuyizereBapt @pkdadson @agbavorrichmond,

I'm going to create issues specific to each of your tasks in our respective repos.

[2022-02-04 16:34] chris-dare commented on #17
## Finance requirements for MIS report:

### Billing dataset parameters:
1. Receipt ID
2. Service or product name
3. Service category
4. Service request category
5. Payment method
6. Charge
7. Status (filtered by billed and billable)
8. Site name
9. Date of creation
10. Payer name
11. Practitioner name
12. Service specialty
13. Cashier name
Status: Done

### What questions do the finance team try

[2022-02-06 08:50] #34 closed, assigned to seddie62

[2022-02-06 11:35] chris-dare opened #77 "bugfix/creation of duplicate patient accounts"
**Describe the bug**
CEEs are able to create patients with the same name, birth date and mobile number. This should not be possible per the JCI requirement for creating new patients

**Impact**
Patients' medical records may be scattered across multiple profiles. Practitioners will find it difficult to gather the context they need to provide care to patients

**To Reproduce**
Steps to reproduce the

[2022-02-07 05:22] chris-dare commented on #75
Hi @agbavorrichmond, please share the link to the prototype here

[2022-02-07 05:25] chris-dare commented on #74
Note: Task is done.
Pending (outside of feature/internal operation): Get signoff from Nana Pokua to share report with Lauretta
Need to close this by Tuesday Feb 8

[2022-02-07 05:33] chris-dare opened #78 "bugfix/all doctors are displayed as GP"
**Describe the bug**
All doctors and specialists are tagged as GPs. We have an outcry from specialists in this regard because of the implications
![image](https://user-images.githubusercontent.com/18426797/152729576-3dde6195-ca93-425d-9197-02a50c43c088.png)

**Impact**
Specialists may get the impression that they may be billed wrongly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to rec

[2022-02-07 05:56] chris-dare opened #79 "feature/edit an insurance patient'scoverage"
**Tell us about your request!**
CEEs would like to edit a patient's insurance coverage

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Mistakes can be corrected. In the absence of an insurance API integration, the patient's coverage can be edited

**Describe the solution you'd like**
Implement an API to edit the coverage of an `organization.models.Emplo

[2022-02-07 05:56] chris-dare commented on #79
@agbavorrichmond I need you to design a screen for @pkdadson to implement this on the frontend. Let's discuss after this morning's call

[2022-02-07 06:03] chris-dare opened #80 "bugfix/set user friendly mr numbers"
**Describe the bug**
Patient MR numbers are currently being set to UUID which are 36 characters long and difficult to accurately write down or keep in memory

**Impact**
Patients may be missed by doctors because doctors could not find them whilst searching through their list of active visits

**To Reproduce**
Steps to reproduce the behavior:
1. Go to reception workspace
2. Create a new patient
3.

[2022-02-07 06:06] chris-dare commented on #80
@DanielDarko12 this has been resolved on demo. We have a pending change update in the creation of corporate employees that needs completion. Once that's resolved, it will be pushed.

[2022-02-07 06:10] chris-dare commented on #40
@pkdadson Richmond has created a design for the prescription. I need you to implement it so it can be integrated from the frontend.

@agbavorrichmond please share the UI design with Dadson. This should be A5 and A5 compatible please

[2022-02-07 06:11] #74 closed, assigned to chris-dare

[2022-02-07 06:11] #80 closed, assigned to chris-dare

[2022-02-07 06:12] chris-dare commented on #30
@TuyizereBapt, I will update this so it's clearer where you can find this in the code

[2022-02-07 14:06] TuyizereBapt commented on #79
@dexios1  I did not  find any use of the parameters in the URL in the API spec [here](https://serenity-health.readme.io/reference/insurance-clients-and-payments#edit-an-insurance-beneficiary)

[2022-02-08 18:22] chris-dare commented on #43
Link patient prototype available here: https://www.figma.com/proto/f29U89yv9q1HvYVaStLIl9/SERENITY-EMR-(PRODUCTION-%E2%9C%85)?page-id=3695%3A30706&node-id=3695%3A31062&viewport=292%2C48%2C0.13&scaling=min-zoom&starting-point-node-id=3695%3A31062&show-proto-sidebar=1

Thanks for completing this @agbavorrichmond. @seddie62 had some concerns. I asked her to share them with you

[2022-02-08 18:37] chris-dare commented on #43
@TuyizereBapt, here's what you need for the API implementation

1. Implement a model called `PatientLink` in `patient.models`. Like most models it should inherit from `fhirresourcemanager.models.ResourceModel` Properties:
a. primary_patient: Patient
b. linked_patient: Patient
c. performed_by: User
d. performing_practitioner: Practitioner
e. performer_name: Text
f. comment: Text
g. is_active: Boole

[2022-02-09 08:44] chris-dare commented on #30
Hi @TuyizereBapt,

In `finance.models.ChargeItemCancelation.cancel(*args)`:
- If the charge item has an encounter, set the slot that belongs to that encounter to `SlotStatusType.FREE`

[2022-02-09 13:13] chris-dare opened #81 "feature/set up diagnostic bi metrics"
**Tell us about your request!**
Diagnostic team would like to have a periodic report answering the following questions:
1. Number of tests ordered by clinicians per day
2. Number of laboratory tests done for the clients per day
3. Number of radiology tests done per day
4. Turn around time for lab tests
5. Turn around time for radiological tests
6. What is the diagnostic service request footfall by

[2022-02-09 19:47] chris-dare commented on #76
Link to quantity based refund is available here: https://www.figma.com/proto/f29U89yv9q1HvYVaStLIl9/SERENITY-EMR-(PRODUCTION-%E2%9C%85)?page-id=1594%3A19469&node-id=3848%3A35032&viewport=292%2C48%2C0.51&scaling=min-zoom&starting-point-node-id=3848%3A35032

[2022-02-09 20:10] chris-dare commented on #76
Hi @TuyizereBapt,

Here's the API spec to request a refund: https://serenity-health.readme.io/reference/billing-and-payments#partial-refunds

Let's discuss this on Friday

[2022-02-10 09:07] chris-dare opened #82 "bugfix/healthcare service unique constraint migration"
**Describe the bug**
Healthcare services data on production and demo need to be cleaned to enable a pending migration. This migration sets a unique together constraint for the following fields on the Healthcare service model:
1. provider id
2. order code

**Impact**
Difficult to keep track of migrations and work on new features. This is piling up dangerous technical debt and makes it harder for ma

[2022-02-10 12:04] chris-dare commented on #61
@seddie62 , try adding 5 labs. Not able to access the rest of the page when it gets longer

![image](https://user-images.githubusercontent.com/18426797/153405281-1bc110aa-cf81-4fed-8ca4-b19628d6ed0e.png)

[2022-02-10 12:22] chris-dare opened #83 "ops/workspace issue prioritization"
**Tell us about your request!**
Need to prioritize issues impacting different workspaces/departments

# Medical
(Updated 10 Feb 2022 with Dr. Darko and Dr. Ghartey)
1. Metrics and reporting: Daily, weekly and monthly. See [MIS report](https://github.com/serenity-health/roadmap/issues/17#issuecomment-1024933433)
2. Migrating clinical data -> #84
3. Fix issues of disappearing clinical notes on patie

[2022-02-10 13:18] chris-dare commented on #81
Notes:

Will make the other reports available by end of today with the exception of turnaround times - 10 Feb 2022
Turnaround times for diagnostics will be available tomorrow - 11 Feb 2022

[2022-02-11 12:12] chris-dare opened #84 "ops/migrate HIS patient clinical data"
**Tell us about your request!**
We need to have all patient data on the EMR aid have the context they need to provide better care to patients

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Doctors/Nursing/Lab/Pharmacy have all the context to diagnose and treat patients better
Cashiers can bring full billing history of patient

**Describe the solution y

[2022-02-11 17:35] chris-dare opened #85 "bugfix/disappearing encounter notes"
**Describe the bug**
Doctors report that they cannot find some notes typed in during previous patient visits

**Impact**
Context concerning patient's condition is lost leading to inadequate provision of care

**To Reproduce**
Steps to reproduce the behavior:
- Not sure. Will need to investigate

**Expected behavior**
All previous encounter notes should be visible

**Screenshots/Screencast**
N/A

*

[2022-02-13 19:56] chris-dare opened #86 "feature/display referrals on patient profile"
**Tell us about your request!**
Doctors need to see past referrals on a patient's profile

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Doctors can gather context and read important notes from other practitioners concerning the patient. This will lead to better delivery of care

**Describe the solution you'd like**
1. Add a new tab on the patient's pr

[2022-02-13 20:15] chris-dare opened #87 "bugfix/automatic logouts of some practitioners when using the app especially at night"
**Describe the bug**
Doctors report that they can sometimes get frequently and intermittently logged out from the EMR at night

**Impact**
Will lead to a poor user experience - frustrating doctors in the middle of their consultations with patients

**To Reproduce**
Not sure. Will need to debug

**Expected behavior**
N/A

**Screenshots/Screencast**
N/A

**Additional context**
N/A

[2022-02-13 21:08] chris-dare opened #88 "feature/update restrictions for ending a consultation"
**Tell us about your request!**
We need to set the minimum requirement for end a consultation to the following:
1. At least one entry for:
a. Chief complaint
b. Diagnoses
c. Care plan

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Doctors will follow the right process to treat patients

**Describe the solution you'd like**
1. On the frontend:
a. Implem

[2022-02-13 21:20] chris-dare opened #89 "feature/set patient last mode of payment as default payment method on checkout/payment"
**Tell us about your request!**
It would be helpful to display the last mode of payment that the patient used when checking out a bill payment.
So if I paid via Clearspace on my last visit, the default category should be corporate with Clearspace selected by default. When checking out. If I changed the payment method, then that now becomes my last used payment method

**Which app does this concern

[2022-02-13 21:22] #77 closed, assigned to chris-dare

[2022-02-13 21:24] chris-dare commented on #61
Hi @seddie62,

@DanielDarko12  and Dr. Ghartey also agree that the add labs button should be at the bottom of the form like with medications for consistency and accessiblility

[2022-02-14 07:14] seddie62 commented on #78
@dexios1 there's no speciality provided by the api for this

<img width="534" alt="Screenshot 2022-02-14 at 7 11 28 AM" src="https://user-images.githubusercontent.com/32453214/153816822-3a539afd-d0fa-435c-8ce4-a3c938788acf.png">

<img width="517" alt="Screenshot 2022-02-14 at 7 11 20 AM" src="https://user-images.githubusercontent.com/32453214/153816842-6b9745c3-95a3-48b7-9120-b194e3226563.png">

[2022-02-14 07:14] seddie62 commented on #33
Anything on this @dexios1

[2022-02-14 09:15] chris-dare commented on #78
@seddie62 Yes just display "Practitioner" biko

[2022-02-14 12:31] chris-dare commented on #74
Received a signoff from Nana Pokua via email. Lauretta has been subscribed to the KPI alert

[2022-02-14 13:12] chris-dare commented on #33
Unfortunately not. Will discuss with @TuyizereBapt

[2022-02-14 17:56] chris-dare commented on #76
Here's a link to the charge item spec: https://www.hl7.org/fhir/chargeitem.html

[2022-02-14 18:41] chris-dare opened #90 "feature/save patient review notes when switching to next part of SOAP notes in patient encounter"
**Tell us about your request!**
Doctors would like to autosave notes in patient review if not saved before proceeding the record a diagnosis (or another section of the encounter wizard)

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Notes will not be missed, context will not be lost and patients can be treated better

**Describe the solution you'd like

[2022-02-14 18:44] chris-dare opened #91 "feature/display service requests and prescriptions in encounter notes"
**Tell us about your request!**
Service requests and prescriptions do not show up in encounter notes. Practitioners need to see this

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Doctors can understand the requests that we created in the encounter

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional

[2022-02-14 18:51] chris-dare opened #92 "feature/improve autosave for HPC in encounter patient wizard patient review."
**Tell us about your request!**
Improve the autosave for history of presenting complaints in the encounter patient wizard review

**Which app does this concern?**
Provider portal?

**What will be benefit of this feature?**
Doctor notes will be saved accurately eliminating errors and reducing the risk of misinterpretation

**Describe the solution you'd like**
Not sure. @seddie62 what's on your mind

[2022-02-14 18:58] chris-dare opened #93 "feature/custom page size"
**Tell us about your request!**
It would be good to customize page sizes based on user preferences. So, if I set my page size to 20 then it should be 20 the next tmie I use the app until I change it.
It may be interesting to do this for each table vs setting a custom page size that'd apply to all tables

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Us

[2022-02-14 19:06] chris-dare opened #94 "feature/update patient visit filters"
**Tell us about your request!**
Pracititoners should be able to filter visits by these additional fields:
1. Date range
2. Assigned practitioner
3. Is active or not?

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
It will be easy to find patient visits

**Describe the solution you'd like**
@agbavorrichmond please update the UI design for this

**Describ

[2022-02-14 19:36] chris-dare opened #95 "feature/request multiple diagnostic services (diagnostic workspace)"
**Tell us about your request!**
Cashiers need to request multiple diagnostic services at once

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Reduction of wait times at cashier queues

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
Cashiers currently raise bills one after the other

**Additional context**
Related i

[2022-02-15 10:14] chris-dare commented on #88
Hi @TuyizereBapt, here's what you need to do on the API side of things:

Update encounter.models.Encounter.end() to do the following:
1. Confirm that there is one entry for encounter.chief_complaint
2. Confirm that there is one entry for encounter.history_of_presenting_illness
3. Confirm that there is at least one care plan linked to that encounter (see `encounter.models.CarePlan`)
4. Confirm that

[2022-02-15 10:25] chris-dare commented on #89
Hi @TuyizereBapt, here's what you need to do on the API side of things:

1. Extend the `Patient` model to save the following fields:
a. `previous_payment_method`: Textchoice based on `base.choices.PaymentMethodType`
b. `previous_patient_account_uuid` (UUIDField)

2.  In ChargeItem.settle_payment, once the account is used to settle the payment, set the patient previous payment method and account to

[2022-02-15 11:49] chris-dare commented on #95
Thanks for completing this Dadson

[2022-02-15 11:49] #95 closed, assigned to pkdadson

[2022-02-15 11:50] #41 closed, assigned to pkdadson

[2022-02-15 13:05] chris-dare commented on #5
Error messages not descriptive. Couldn't see error for duplicate order code. Needs to be handled effectively on the API

[2022-02-16 12:53] chris-dare commented on #23
Hi @pkdadson,

I've just tried out the feature. It works but it doesn't return the status of activity for the employee which is what you need.

@TuyizereBapt, please expose the `is_active` flag in both the `LegacyEmployeeSerializer` and `InsuranceBeneficiarySerializer` so that they are returned in the API response

@pkdadson, also please send the action in uppercase instead. We implemented it UPPE

[2022-02-16 12:57] pkdadson commented on #23
Please update the api docs on that too

[2022-02-16 12:59] chris-dare commented on #23
Done

[2022-02-16 13:00] chris-dare commented on #23
@pkdadson  the flag status now needs to be displayed so that the users can tell if an employee is active or not

[2022-02-16 13:01] TuyizereBapt commented on #23
Working on it now

[2022-02-16 13:01] pkdadson commented on #23
@dexios1 will show the status on the table
but can we active the user again?

[2022-02-16 13:04] chris-dare commented on #23
- Yes. please show the status on the table
- Yes we should be able however we'll have to address this in a separate PR. @TuyizereBapt can you create a card and work on this too? i.e. reactivate an employee

[2022-02-16 13:07] chris-dare commented on #43
Hi @seddie62,

API for link patients is done and available for integration on demo: https://serenity-health.readme.io/reference/patients#link-patients

Contact @TuyizereBapt if you have any questions.

[2022-02-16 13:13] chris-dare commented on #43
Guys, also I want us to use the issue threads to communicate as well. It's helpful to track the progress of what's going on

[2022-02-16 13:16] TuyizereBapt opened #97 "feature/reactivate an employee"
**Tell us about your request!**
A corporate administrator may want to reactivate a suspended employee. We should make this possible in the EMR until the corporate portal goes live

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Patients eligible to corporate coverage will be able to pay with their company

**Describe the solution you'd like**
Extend `Em

[2022-02-16 13:27] chris-dare commented on #23
Hi @pkdadson, the employees now have the `is_active` flag exposed.

Thanks for completing this @TuyizereBapt

[2022-02-16 13:27] TuyizereBapt commented on #23
What should be the data from the front-end to pinpoint the employee to be reactivated? @dexios1 @pkdadson

[2022-02-16 13:28] chris-dare commented on #23
@TuyizereBapt Let's use the action `ACTIVATE`

[2022-02-16 13:32] TuyizereBapt commented on #23
I mean something unique to identify the employee. can I expect the `Employee.id`?

And in addition, if the endpoint's sole purpose is updating the `Employee.is_active` why use the the action **ACTIVATE**?

[2022-02-16 13:34] chris-dare commented on #97
Thanks for creating this @TuyizereBapt. I have updated the description to make it clearer

[2022-02-16 13:39] chris-dare commented on #23
Hey, thanks for this. It's going to be an extension of the Benefactor action API view. So you just need to support the activation process in `Employee.process_action`. See #97 for additional clarity

[2022-02-16 14:01] TuyizereBapt commented on #97
Done

[2022-02-16 14:11] chris-dare commented on #97
Hi @pkdadson, there's a new API to activate employees: https://serenity-health.readme.io/reference/accounts#activate-a-benefactor

[2022-02-16 14:56] pkdadson commented on #23
@dexios1 @TuyizereBapt  so what will be the key **status / is_active**?

[2022-02-16 14:57] chris-dare opened #98 "feature/save diagnostic report turnaround time"
**Tell us about your request!**
To aid in reporting, we'd like to save the diagnostic report turnaround time (instead of computing it on the fly)
Turnaround time (TAT) is the amount of time taken to complete a process or fulfill a request.
The definition of diagnostic TAT is subjective and has different perspectives:
1. For a patient, this will likely be the delta between confirmation of a service

[2022-02-16 14:57] TuyizereBapt commented on #23
The key is `is_active`

[2022-02-16 14:58] chris-dare commented on #98
@DanielDarko12 please share your thoughts on this

[2022-02-16 15:29] chris-dare commented on #97
@pkdadson please let me know when this is integrated on the frontend

[2022-02-16 15:29] chris-dare commented on #23
@pkdadson please let me know when this integration is updated on the frontend

[2022-02-16 15:32] pkdadson commented on #23
@TuyizereBapt Please the value of is_active is a boolean instead of the value of the action. Or @dexios1

[2022-02-16 15:34] chris-dare commented on #23
Yes please. It's the structure from the v0.5 implementation. Ehi recommended that we maintain it and I think this is fine for the employee. Will this be a challenge? We can make an improvement for an easier integration.

[2022-02-16 15:47] pkdadson commented on #23
Alright, it's fine. done and merged @dexios1 @TuyizereBapt

[2022-02-16 15:48] chris-dare commented on #23
Thank you @pkdadson! Please let me know when it's up on the app

[2022-02-16 15:49] pkdadson commented on #23
It's on the app @dexios1

[2022-02-16 15:50] chris-dare commented on #23
Thank you checking it out!

[2022-02-16 16:00] chris-dare commented on #23
Hi @pkdadson, thanks for completing this. The integrations work as intended! Thank you!

@TuyizereBapt unfortunately, I was still able to access the payment method of a suspended employee. Please try this out in the app. Here's what you need to do:
1. Add yourself as an employee to one of the corporate clients we have set up
2. Suspend your self from that company
3. Start a visit and attempt to pa

[2022-02-16 18:43] TuyizereBapt commented on #23
OOh I see the problem. I think when I implemented this, I forgot to work on the other points:
     2. When retrieving a patient's payment method, this account should also not be available for use
     3. When paying for a charge item, payment should not be processed if the account is suspended.

I don't know what happened that I didn't read it all. I will fix it

[2022-02-16 18:56] TuyizereBapt opened #99 "bugfix/prevent payment method access on a suspended employee"
**Describe the bug**
Can access the payment method of a suspended employee

**Impact**
Insurance payer can lose money if they pay for suspended employees's medical bills?

**To Reproduce**
Steps to reproduce the behavior:
1. Add yourself as an employee to one of the corporate clients we have set up
2. Suspend your self from that company
3. Start a visit and attempt to pay via that company (this sh

[2022-02-17 09:35] chris-dare commented on #23
Ok great. Thanks and looking forward to it!

[2022-02-17 13:08] pkdadson commented on #32
@dexios1 please this is completed

[2022-02-17 13:32] TuyizereBapt commented on #99
I thnk I fixed the bug. The error was that always PatientAccounts where the provider was the managing_organization and owned by the employee user were being suspended. This is due to misunderstandings I had earlier when I started working. So now the correct PatientAccounts managed by the organization where the employee actually works are suspended

[2022-02-17 14:16] TuyizereBapt commented on #33
Need help with this issue @dexios1

[2022-02-17 14:25] chris-dare commented on #33
Noted.

[2022-02-17 15:16] chris-dare commented on #32
Thank you Dadson. Will check it out soon

[2022-02-17 15:19] chris-dare commented on #32
Just tried it out! Works great!
The date range input is quite long but we'll live. That's something we can look at in a future update. But seeing as this works, I'm fine with that.
Thanks for completing this @pkdadson

[2022-02-17 15:27] chris-dare commented on #33
Hi @TuyizereBapt

Medications have dosage forms which basically indication what form of input the drug should be taken in.

Let's take paracetamol for example. It can be a tablet, a syrup or an oral suspension.

The doctors want to state the dosage form of the drugs they prescribe to patients so that a pharmacist can dispense the right medication to the patient. To accomplish this, we will need to

[2022-02-17 18:51] TuyizereBapt commented on #33
Done

[2022-02-17 18:51] chris-dare opened #100 "feature/set provider user location on login"
**Tell us about your request!**
To improve the accuracy of location based reporting, we'll need to ask users to set their location on login

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
We will improve the accuracy of location reporting and KPIs which will help providers understanding their performance across their sites

**Describe the solution you'd

[2022-02-17 19:27] chris-dare opened #101 "feature/set up revenue tags for reporting"
**Tell us about your request!**
Providers need set the custom categories for their services and products. We can acheive this with revenue tags

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Revenue tags will help providers report on their bills the way they like

**Describe the solution you'd like**
On the API:
1. Create a model called `RevenueTag`. I

[2022-02-17 19:28] chris-dare commented on #101
Hi @TuyizereBapt I'm yet to complete the description for this issue and will notify you once complete

[2022-02-18 08:10] chris-dare commented on #101
Hi @TuyizereBapt,

I'm done updating the issue. This is a task due next Tuesday

[2022-02-18 08:12] seddie62 commented on #100
@dexios1 would this be every time they log in? Even with token expiry and all?

[2022-02-18 09:40] TuyizereBapt opened #102 "bugfix/fetching previous encounters for a patient"
**Describe the bug**
Doctors cannot see previous encounters for a patient

**Impact**
Doctors cannot see previous notes about a patient to inspire what to do next

**To Reproduce**
Steps to reproduce the behavior:
...

**Expected behavior**
...

**Additional context**
N/A

[2022-02-18 14:01] chris-dare opened #103 "feature/additional input tags for qualitative test results. Try this with Blood type test"
**Tell us about your request!**
Input options for the lab are sometimes limiting, it would be helpful to configure the options for test results or enable the additonal of freetext to the options like we do for inputting medications.
To understand the request, request a blood test on the EMR. Now blood type test results would be your blood group. Let's assume you're B negative. Attempt to enter B n

[2022-02-18 14:02] chris-dare opened #104 "feature/manage diagnostic devices (CRUD)"
**Tell us about your request!**
Lab machines are a form of devices used at healthcare centers to analyze laboratory test specimen collected from patients. They are extremely helpful because they speed up the investigation process while improving the accuracy of test results

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can register devices u

[2022-02-18 17:11] chris-dare commented on #39
@seddie62 I've noticed that I'm able to see this for corporates but not for insurance payment methods. You may need to double check to be sure.

[2022-02-18 17:16] chris-dare commented on #85
Hi @TuyizereBapt @seddie62,

Just resharing the slack conversations here so @DanielDarko12 can get some visibility on the progress and efforts being taken to resolve this

[2022-02-18 17:22] chris-dare commented on #85
@DanielDarko12 we reproduced the issue you mentioned on missing notes.

Here's is an example from a dummy patient profile we set up for @TuyizereBapt.
We went through a patient walkthrough and created a consultation for the patient on the 25th of January however we are unable to see the notes from that encounter on the patient profile:

![image](https://user-images.githubusercontent.com/18426797/1

[2022-02-18 18:37] chris-dare commented on #85
@TuyizereBapt, here's what I found from running a check. It doesn't have to do with what's on production though but with the new link patients feature. So it may not necessary have to do with what the doctors are facing now. See the image below.
I think it's related to viewing the profiles of patients without patient links:

I inserted some breakpoint in `EncounterListView`
![image](https://user-i

[2022-02-18 21:05] chris-dare commented on #101
@TuyizereBapt @seddie62 do you have any questions on this task?

[2022-02-21 08:47] chris-dare opened #105 "feature/set up VPC firewall"
**Tell us about your request!**
Set up a network firewall for API. See core-sytems issue card for more detail

**Which app does this concern?**
- Provider portal
- Corporate portal
- Patient app

**What will be benefit of this feature?**
Firewall will inspect and filter traffic to, from, or between services and block malicious actors

[2022-02-21 08:49] chris-dare opened #106 "feature/set up app monitoring"
**Tell us about your request!**
Set up monitoring and observability service for core systems

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Visibility on data and actionable insights to monitor applications, respond to system-wide performance changes, and optimize resource utilization

[2022-02-21 08:58] chris-dare commented on #105
Link to discussion: https://stackoverflow.com/c/serenity-health/questions/11

[2022-02-21 09:07] chris-dare opened #107 "feature/set up API gateway for core systems"
**Tell us about your request!**
Among many other benefits, an API gateway will help us control who has access to Serenity's APIs as well as run microservices when the time comes for that

**Which app does this concern?**
Provider portal
Corporate portal
Patient app

**What will be benefit of this feature?**
See https://konghq.com/kong/

**Describe the solution you'd like**
See: https://stackoverfl

[2022-02-21 09:15] chris-dare commented on #106
Link to discussion: https://stackoverflow.com/c/serenity-health/questions/14

[2022-02-21 15:50] pkdadson commented on #23
@TuyizereBapt please any feedback on this task?

[2022-02-21 15:52] pkdadson commented on #32
@dexios1 please this has been completed

[2022-02-21 15:52] TuyizereBapt commented on #23
I think I fixed the bug. You can try it and see if it works on your end

[2022-02-21 15:55] pkdadson commented on #104
@agbavorrichmond please any update of the UI designs?

[2022-02-21 16:01] agbavorrichmond commented on #104
Yes, there is buts its not been confirmed yet m, will update you once it has been confirmed

[2022-02-21 16:02] pkdadson commented on #104
Alright @agbavorrichmond , I'm on standby.

[2022-02-21 16:03] pkdadson commented on #40
@agbavorrichmond please share the UI for this task here. Merci.

[2022-02-21 18:39] #99 closed, assigned to TuyizereBapt

[2022-02-21 19:18] chris-dare commented on #43
@TuyizereBapt I've tried this out on demo. There are some duplication constraint exceptions being thrown by the API. Please reach out to Seddie and test with her.
@seddie62 please give @TuyizereBapt a primer on what you integrated tomorrow

[2022-02-21 20:10] dexios1 commented on #89
@seddie62 this is up for integration.

Look out for these new fields:

`previous_payment_method` (will be empty or one of the payment method types: cash, corporate, user account or insurance)
`previous_patient_account_uuid` = will be empty if the `previous_payment_method` is null or cash

[2022-02-21 20:11] chris-dare commented on #89
@pkdadson this is up for integration.

Look out for these new fields:

`previous_payment_method` (will be empty or one of the payment method types: cash, corporate, user account or insurance)
`previous_patient_account_uuid` = will be empty if the `previous_payment_method` is null or cash

[2022-02-21 20:43] chris-dare commented on #89
@pkdadson please let me know when it's integrated on the frontend

[2022-02-21 21:09] chris-dare commented on #33
API implementation complete.
@seddie62 this is available for integration. We'd like to see this in the:
1. Encounter wizard
2. Prescription view on the patient profile
3. Prescription view when the pharmacist is filling prescriptions
4.

[2022-02-21 21:09] chris-dare commented on #33
Thanks for completing this @TuyizereBapt

[2022-02-21 21:12] chris-dare commented on #39
@seddie62 @pkdadson do check this out. No API update is required

[2022-02-21 22:11] chris-dare commented on #32
Thank you Dadson. We'll have the pharmacy team try it out and share feedback with us

[2022-02-23 00:15] seddie62 commented on #39
@dexios1 I don't have permissions to assign dadson. @pkdadson can you take over this task? I'm a little lost

[2022-02-23 07:44] chris-dare commented on #39
@seddie62 thanks for this. I've assigned this to Dadson.

Here is the issue.

Consider the fictional insurance provider "Fred insurance company". It has an active beneficiary "Apextest Insurancetest"

![image](https://user-images.githubusercontent.com/18426797/155277602-57de4aa4-11df-463e-bd67-9c0392ffc917.png)

Checkout "Apextest Insurancetest"'s [patient profile in the pharmacy workspace](https:

[2022-02-23 07:52] chris-dare commented on #100
@seddie62, yes so we will need to extend the lifetime of the token.

[2022-02-23 07:52] chris-dare commented on #100
Here is feedback following your merge request: https://www.loom.com/share/d49ee29b8fc84f269de6878bacbd46c6

[2022-02-23 11:03] pkdadson commented on #39
Okay @dexios1 but are the drugs dependent on the payment methods?

[2022-02-23 11:03] pkdadson commented on #39
And I want to know if there will be actions on those methods?
 @dexios1

[2022-02-23 11:06] pkdadson commented on #104
@agbavorrichmond how far?

[2022-02-23 11:12] pkdadson commented on #40
Hello @agbavorrichmond

[2022-02-23 11:25] chris-dare commented on #39
Sometimes. See https://www.priorauthtraining.org/what-is-an-insurance-exclusion-list/

[2022-02-23 11:27] chris-dare commented on #39
Not for this release.
In a future release, we may need to show the exclusion list for each payment method the patient has access to.

[2022-02-23 11:28] chris-dare commented on #104
@agbavorrichmond share the loom and the link to the screens with @pkdadson

[2022-02-23 11:32] agbavorrichmond commented on #40
Sure thing, doing that now

[2022-02-23 11:57] agbavorrichmond commented on #104
@pkdadson
1. here is the link to the video demo of the  lab machine integrations https://www.loom.com/share/e8df70cc865b45b9bfae5bb347775f97?sharedAppSource=personal_library and the link to the figma file is https://www.figma.com/file/f29U89yv9q1HvYVaStLIl9/SERENITY-EMR-(PRODUCTION-%E2%9C%85)?node-id=4067%3A35265
2. The print prescription design is the first thing on this page https://www.figma.co

[2022-02-23 20:27] #102 closed, assigned to TuyizereBapt

[2022-02-23 20:29] chris-dare commented on #102
Hey @TuyizereBapt I fixed this in https://github.com/serenity-health/core-systems-api/pull/41

[2022-02-23 20:36] chris-dare commented on #33
@seddie62 what's the progress on this?

[2022-02-24 09:22] chris-dare commented on #100
Comments post review:
This is great!!!
I see that it works if the user explicitly clicks the logout button and logs in again.

Only 2 things to be updated:
1. Extending the lifetime of the access and refresh tokens
2. Ensuring that this feature works for login when the token expires

[2022-02-24 09:32] chris-dare commented on #43
Sharing feedback post review:

We need cover 3 cases:
1. All patients linked in operation (success)
2. Some patients linked in operation (success)
3. No patients linked in operation (success)

Important to display "x out of n patients linked" in API response message

[2022-02-24 09:45] chris-dare commented on #89
Notes from review:

API is setting the details but needs to be done on the frontend as well.

Here's what we're getting:
Nothing selected by default
![image](https://user-images.githubusercontent.com/18426797/155499543-0c1edc18-f817-4245-9484-3c9efa5d5bf4.png)

Here's what we should be doing instead:
Previous payment method selected by default:
![image](https://user-images.githubusercontent.com/18

[2022-02-24 11:18] chris-dare commented on #17
Notes from CE interview:

1. Retrieve encounter patient list: Which patients did a doctor see for a given period?

[2022-02-24 11:21] chris-dare commented on #23
Hey guys, let's set up a different card for suspending beneficiaries for insurance

[2022-02-24 12:05] chris-dare opened #109 "feature/set payer on raising pharmacy bill"
**Tell us about your request!**
Should be possible to raise bill for a pharmacy item and set the payer if the payment method and account is set. If not present and payment is being received (`with_payment=True`) then this should fail unless it's for a cash payment

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can generate accurate claims for

[2022-02-24 14:43] pkdadson commented on #89
done @dexios1

[2022-02-24 18:04] seddie62 commented on #33
@TuyizereBapt What's the field name and the API to get the doses?

[2022-02-24 18:15] TuyizereBapt commented on #33
dosage_form

[2022-02-24 18:17] TuyizereBapt commented on #33
I did not create a new API endpoint for it. It's just the same endpoints for MedicationRequest

[2022-02-24 18:28] chris-dare commented on #33
Hi @seddie62,

I'm just realizing we hadn't exposed the valueset. Give me 20 minutes and I'll set it up for you

[2022-02-24 18:36] chris-dare commented on #33
@seddie62 done at `{{base_url}}/providers/valueset/dosage-form-type`

[2022-02-27 19:22] #89 closed, assigned to TuyizereBapt, pkdadson

[2022-02-27 19:23] #100 closed, assigned to seddie62

[2022-02-27 19:23] #39 closed, assigned to pkdadson

[2022-02-27 19:24] #23 closed, assigned to TuyizereBapt, pkdadson

[2022-02-27 19:25] #53 closed, assigned to chris-dare

[2022-02-27 19:26] #30 closed, assigned to TuyizereBapt

[2022-02-27 20:08] chris-dare commented on #85
Updates on this issue: https://github.com/serenity-health/roadmap/discussions/108

We're down to updating FK restrictions and an audit log for deleting notes.

[2022-02-28 09:37] TuyizereBapt commented on #105
Working on this

[2022-02-28 09:38] chris-dare commented on #105
Got it

[2022-03-01 07:37] chris-dare opened #110 "feature/update PWA caching for EMR"
**Tell us about your request!**
We'd like to cache results from the API such that users can access the parts of the app without the pages 'loading' whilst the app refreshes the data in the background

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Users on poor internet connections will have a better user experience

**Describe the solution you'd like**

[2022-03-01 10:26] chris-dare commented on #79
Hi @pkdadson an API is ready for this. @TuyizereBapt is available to support you on the integration

[2022-03-01 12:03] TuyizereBapt commented on #101
Hey @dexios1 what should happen for new HealthCareServices, Stocks and ChargeItems for already existing provider organizations without RevenueTags set ye?

[2022-03-01 12:07] chris-dare commented on #101
For `HealthcareService`, the revenue tage display default should be "Other"

For `Stock`, it should be "Pharmacy"

For ChargeItem, it should be None

[2022-03-01 12:10] TuyizereBapt commented on #101
I get that. But remember it's just revenue_tag_display field only, there is also revenue_tag ForeignKey field. Do you mean this foreign key can be set to null in such a case?

[2022-03-01 22:10] TuyizereBapt commented on #101
Done. Up for review now

Here is the [PR](https://github.com/serenity-health/core-systems-api/pull/45)

[2022-03-02 11:11] chris-dare commented on #110
LGTM @seddie62

Just concerned now about how we can exclude some urls from this like available slots

[2022-03-02 11:11] #110 closed, assigned to seddie62

[2022-03-02 11:11] chris-dare commented on #109
Hi @pkdadson,

Please let me know if the frontend change is up

[2022-03-02 11:12] chris-dare commented on #101
Noted. Will check it out

[2022-03-02 11:19] TuyizereBapt commented on #82
I removed the contraint yesterday while implementing revenue tags

[2022-03-02 11:19] #82 closed, assigned to chris-dare, TuyizereBapt

[2022-03-02 17:39] chris-dare commented on #98
Hi @TuyizereBapt,

The computations for turnaround times will take place in `DiagnosticReport.approve` before the instance is saved

[2022-03-02 17:56] chris-dare commented on #98
Hi @TuyizereBapt,

`Diagnostics.models.Specimen` contains the dates of collection a sample. Multiple samples can be collected for the same service request and so what you want to use is the earliest time for a given set of specimen related to the `diagnostics.models.DiagnosticReport.based_on`

[2022-03-03 01:07] #98 closed, assigned to TuyizereBapt

[2022-03-03 09:44] seddie62 commented on #101
@dexios1 have you merged it?

[2022-03-03 14:45] chris-dare commented on #101
Just did

Kind regards,
Chris Dare

E: ***@***.******@***.***>
P: +233 26 226 0986 / +250 786 745 117<tel:+233%2026%20226%200986%20/%20+250%20786%20745%20117>
W: http://chrisdare.me<http://chrisdare.me/>
[LinkedIn]<https://linkedin.com/in/csdare/>[Twitter]<https://twitter.com/chrisdare_>

________________________________
From: seddie62 ***@***.***>
Sent: Thursday, March 3, 2022 9:45:09 AM
To: sere

[2022-03-03 15:44] chris-dare commented on #103
Hi @pkdadson, any progress on this?

[2022-03-04 01:37] pkdadson commented on #109
the frontend was up since last week

[2022-03-04 01:39] pkdadson commented on #76
I thought I mentioned this link doesn't work

[2022-03-04 18:36] chris-dare commented on #101
Hi @seddie62 please let me know when this is integrated on the frontend

[2022-03-04 18:46] chris-dare commented on #79
Hi @pkdadson,

Editing a corporate employee yields a 404 since it's a different endpoint.

@seddie62 I'm not sure the caching works well with retrieving policies. I think that if it fails, it may not attempt to retrieve the policies again. I've noticed that the policies component fails to retrieve policy data at times.

[2022-03-04 20:49] chris-dare commented on #106
@TuyizereBapt it works!

[2022-03-04 21:56] TuyizereBapt commented on #104
API endpoint for creating a Device: https://serenity-health.readme.io/reference/diagnostics-workflow#create-a-device

[2022-03-04 22:00] sentry[bot] opened #111 "ValidationError: [ErrorDetail(string='Unknown service category for revenue tag', code='invalid')]"
Sentry Issue: [SERENITY-CORE-SYSTEMS-API-DP](https://sentry.io/organizations/serenity-nl/issues/3070963593/?referrer=github_integration)

[code]

[2022-03-05 08:11] sentry[bot] opened #112 "Bugfix/update DeviceName.type"
Sentry Issue: [SERENITY-CORE-SYSTEMS-API-DH](https://sentry.io/organizations/serenity-nl/issues/3070877203/?referrer=github_integration)

[code]

[2022-03-05 10:10] chris-dare commented on #109
Ok thank you. Please notify via comments going forward so that there's some awareness. It helps so the status/progress is clear and next actions can be taken @pkdadson

[2022-03-05 12:55] chris-dare commented on #103
Hi @pkdadson, I've seen the change on demo. Thanks for completing this. I'm moving it to signed off

[2022-03-05 18:31] chris-dare commented on #109
Hi @pkdadson please check out the dispense checkout again.

Here is some context behind the errors users may encounter: https://www.loom.com/share/e77ce386634743419cf515d1d6d09c99

[2022-03-05 19:32] chris-dare commented on #109
This probably deserves a card on it's own.

[2022-03-05 19:32] #109 closed, assigned to chris-dare, pkdadson

[2022-03-05 19:38] sentry-io[bot] opened #113 "AttributeError: 'NoneType' object has no attribute 'account_type' for cash medication dispenses"
Sentry Issue: [SERENITY-CORE-SYSTEMS-API-DT](https://sentry.io/organizations/serenity-nl/issues/3071840736/?referrer=github_integration)

[code]

[2022-03-05 19:39] dexios1 commented on #113
Fixed in https://github.com/serenity-health/core-systems-api/pull/51

[2022-03-05 19:39] #113 closed

[2022-03-05 20:11] TuyizereBapt opened #114 "bugfix/change service request status to active"
**Describe the bug**
After a ServiceRequest is paid for, the status stays as draft rather than active

**Impact**
What is the impact of this problem?

**Expected behavior**
After payment for ServiceRequest, the status of the ServiceRequest should be set to ACTIVE

**Screenshots/Screencast**

**Additional context**
`diagnostics.models.ServiceRequest.process_payment(...)`

[2022-03-05 20:36] chris-dare commented on #114
Thank you @TuyizereBapt

[2022-03-05 20:36] chris-dare commented on #114
Just an FYI: I took the screenshots from the issue description because they contained PII from production

[2022-03-05 21:31] #114 closed, assigned to chris-dare, TuyizereBapt

[2022-03-05 23:19] #33 closed, assigned to seddie62, TuyizereBapt

[2022-03-05 23:20] #106 closed, assigned to TuyizereBapt

[2022-03-05 23:20] #103 closed, assigned to chris-dare, agbavorrichmond, TuyizereBapt, pkdadson

[2022-03-05 23:22] #79 closed, assigned to TuyizereBapt, pkdadson

[2022-03-05 23:26] chris-dare commented on #79
Note: Updated the title to match the description

[2022-03-06 12:28] chris-dare opened #115 "Bugfix/patient does not have accessible cash account"
**Describe the bug**
Some patients do not have linked user profiles via mobile or email. It prevents then from making cash payments since there is no `User` and `PatientAccount` created for that patient

**Impact**
Some patients can make cash payments throughout their visit without the intervention of an engineer at Serenity

**To Reproduce**
Steps to reproduce the behavior:
1. Not sure. This may

[2022-03-07 08:38] chris-dare commented on #40
@agbavorrichmond  ...... :-)

[2022-03-07 08:58] chris-dare commented on #40
Hi @TuyizereBapt, here is some context on this feature:

We have a version of this feature that generates the PDF on the server and sends to the frontend. We'll start with this and then switch to sharing the JSON instead for the PDF to be generated on the frontend later.

Here is a copy of the API specification: https://serenity-health.readme.io/reference/pharmacy-workflow#print-a-prescription

Th

[2022-03-08 06:08] seddie62 commented on #101
@dexios1 @TuyizereBapt what is the api needed here to get all possible values and what is the field to be added

[2022-03-08 06:55] chris-dare commented on #101
@TuyizereBapt sorry, I missed this. I think it depends on the final implementation. If the default revenue tags are set up, then there's no need for nullables, but if they aren't, then there's a need for that.

[2022-03-08 07:03] chris-dare commented on #101
Hi @seddie62,

the field's key is `revenue_tag_display`. Please give this a label of "Revenue tag"

This is the endpoint to get all possible values: `{{base_url}}/providers/<provider_id>/revenue-tag-type`

@TuyizereBapt please share the link to the API spec with @seddie62

[2022-03-08 08:02] TuyizereBapt commented on #101
Here is the API spec: https://serenity-health.readme.io/reference/valuesets

[2022-03-08 08:26] chris-dare commented on #40
Hi @TuyizereBapt,

Here's a sample payload to create a medication request:

[code]

[2022-03-08 21:28] chris-dare commented on #40
Hi @pkdadson, please reactivate the feature to print prescriptions.

[2022-03-09 08:41] seddie62 commented on #78
this is done oo. Or? @dexios1

[2022-03-09 08:43] #78 closed, assigned to seddie62

[2022-03-09 08:47] #115 closed, assigned to chris-dare

[2022-03-09 20:29] chris-dare commented on #78
That's correct.

Kind regards,
Chris Dare

E: ***@***.******@***.***>
P: +233 26 226 0986 / +250 786 745 117<tel:+233%2026%20226%200986%20/%20+250%20786%20745%20117>
W: http://chrisdare.me<http://chrisdare.me/>
[LinkedIn]<https://linkedin.com/in/csdare/>[Twitter]<https://twitter.com/chrisdare_>

From: ***@***.***>
Sent: Wednesday, March 9, 2022 8:41 AM
To: ***@***.***>
Cc: Chris ***@***.***>; ***@

[2022-03-09 21:28] #40 closed, assigned to agbavorrichmond, TuyizereBapt, pkdadson

[2022-03-10 03:39] pkdadson commented on #76
@agbavorrichmond this is link is broken
 https://www.figma.com/proto/f29U89yv9q1HvYVaStLIl9/SERENITY-EMR-(PRODUCTION-%E2%9C%85)?page-id=1594%3A19469&node-id=3848%3A35032&viewport=292%2C48%2C0.51&scaling=min-zoom&starting-point-node-id=3848%3A35032

[2022-03-10 06:24] seddie62 commented on #101
is the field required? @dexios1 @TuyizereBapt

[2022-03-10 06:26] seddie62 commented on #101
<img width="635" alt="Screenshot 2022-03-10 at 6 25 19 AM" src="https://user-images.githubusercontent.com/32453214/157602058-a8586d66-766c-4cfb-b1de-3ed8b4adbbe9.png">
<img width="632" alt="Screenshot 2022-03-10 at 6 25 11 AM" src="https://user-images.githubusercontent.com/32453214/157602075-3741a0a0-0918-4572-9007-d44167d20a72.png">

So I'm guessing this hasn't been merged? @dexios1

[2022-03-10 06:42] seddie62 commented on #6
@dexios1 what's the way forward here

[2022-03-10 06:45] agbavorrichmond commented on #76
Please check again @pkdadson, we removed everyone from the files and hence the broken link, I have added you again, so please check .

[2022-03-10 07:33] TuyizereBapt commented on #101
Here is the API spec: https://serenity-health.readme.io/reference/valuesets

[2022-03-10 07:49] seddie62 commented on #101
@TuyizereBapt I'm referring to the actual field revenue_tag_display on the services API, is that required?

[2022-03-10 08:19] TuyizereBapt commented on #101
No. It will be set to default value if you do not provide a `revenue_tag_display` value on creation

[2022-03-10 13:47] chris-dare opened #116 "feature/register a loinc code"
**Tell us about your request!**
LOINC is a database and universal standard for identifying medical laboratory observations. This is what powers the documentation of diagnostic reports on Serenity.
Our intial dataset of loinc codes was built on a dataset from Mayo Clinic. However, this needs to be extended on a need basis to include other loinc codes
The task is to set up a feature that allows a la

[2022-03-10 13:59] chris-dare commented on #116
@agbavorrichmond I need you to set up an interface for this.

- First, you need a list of loinc order codes and their names with the ability to search by name or code.
- Next you need to have an feature to add new order codes which allow you to search by name or code. Will look like https://clinicaltables.nlm.nih.gov/apidoc/loinc/v3/doc.html
- Once the user selects the item they want to add, then

[2022-03-10 14:07] chris-dare commented on #116
@TuyizereBapt setting up the endpoint could just be a simple create and read. We won't be requiring edit or delete.

Here are the constraints:
1. If the `DiagnosticTestCode.loinc_code already exists, do not create
2. Every provider will have their set of loinc codes, so you'll need to account for this in endpoint URL via the provider id

The model you'll need for this is `diagnostics.models.Diagno

[2022-03-10 14:08] chris-dare commented on #116
@pkdadson Richmond will give you a UI for this

[2022-03-10 15:44] chris-dare commented on #101
Hi @seddie62 @TuyizereBapt,

I'm just reviewing the API for the revenue tag valueset. @TuyizereBapt it needs to be `{{base_url}}/providers/{{serenity_user_provider_id}}/valueset/revenue-tags` and registered in `provider.valueset.urls`

[2022-03-10 15:46] chris-dare commented on #101
Yes, Jean is right the API will do that.
@seddie62 what you need to do on the frontend is to set the revenue tag to the default of "Other" for healthcare services. You need to do this so that users are not confused on how the defaults will be set up

@pkdadson for stock items, this will be "Pharmacy"

[2022-03-10 22:38] TuyizereBapt commented on #101
I don't that url is possible considering that the sub paths for valueset under provider do not have <provider_id>

Example: provider.urls - `path("/valueset/", include("provider.valueset.urls")),`

For the above url to work, it would require the above url to `path("/<provider_id>/valueset/", include("provider.valueset.urls")),`

[2022-03-10 22:38] TuyizereBapt commented on #101
I don't think that url is possible considering that the sub paths for valueset under provider do not have <provider_id>

Example: provider.urls - `path("/valueset/", include("provider.valueset.urls")),`

For the above url to work, it would require the above url to be altered to `path("/<provider_id>/valueset/", include("provider.valueset.urls")),`

[2022-03-11 10:01] chris-dare commented on #101
Ah...got it. Alright. Then this is fine. Thanks a lot!

[2022-03-11 18:13] chris-dare commented on #106
Note: It's going to be helpful to notify users when system health is severe or degraded. This will need to span the API, database and client apps and converge to a status that can show up on a status page....something like https://api.twitterstat.us/

[2022-03-14 08:42] chris-dare commented on #31
@TuyizereBapt I'm gonna list out what and where needs to be changed for this to happen

[2022-03-15 07:47] chris-dare commented on #91
Hi @seddie62 I've added this to this week's sprint

[2022-03-15 07:48] chris-dare commented on #93
Hi @seddie62, I've added this to this week's sprint

[2022-03-15 07:49] chris-dare commented on #90
Hi @seddie62, I've added this to the week's sprint

[2022-03-15 07:51] #85 closed, assigned to chris-dare, seddie62

[2022-03-15 07:54] chris-dare commented on #6
Sorry, I somehow missed this.

@seddie62 I need you to run a check at the point of creating the visit to confirm that the slot has not been booked.

@TuyizereBapt, we're going to have to make some modifications to `encounter.models.Encounter.create` such that an encounter cannot be created unless the slot is free. This is already there but there needs to be a tweak. Let's discuss that at 10am tomo

[2022-03-15 11:43] DanielDarko12 commented on #85
Happy to hear this is closed

Daniel Osafo Darko , MD, MGCPS(Fam Med)Specialist Family Physician+233 50 644 32 74http://www.linkedin.com/in/daniel-osafo-darko-592baa87
 "Let your life reflect the faith you have in God. Fear nothing and pray about everything. Be strong, trust God’s word, and trust the process." - Germany Kent

    On Tuesday, March 15, 2022, 07:51:22 AM GMT, Chris Dare ***@***.***>

[2022-03-15 16:46] TuyizereBapt commented on #116
Regarding the first point, should it fail silently by returning an OK status?

[2022-03-15 16:47] chris-dare commented on #116
That's fabulous

[2022-03-15 16:48] TuyizereBapt commented on #116
Thanks

[2022-03-15 16:53] TuyizereBapt commented on #116
There is this endpoint for GET `path("diagnostic-order-type", DiagnosticTestCodeValuesetListView.as_view()),`
I want to extend it to support POST to register loinc_code. Is this right? I am asking due to the presence of **diagnostic-order-type** in the path

[2022-03-15 18:04] TuyizereBapt commented on #116
Hey @dexios1 I looked at the db and I found this `test_id = models.TextField(unique=True)`. is this the actual loinc code rather the `loinc_code = models.TextField()`? The latter is empty in the db. If yes, why test_id unique across all data whereas it is supposed to be unique per provider?

[2022-03-15 20:09] chris-dare commented on #116
No please it's just a unique id like uuid. At the time we set this up, we were using the dataset from mayo clinic which had duplicated loinc codes - which is why there was a unique test id with each record. And so the way to ensure that we could import all the records was with the test ids - which was in their database as well.

Some entries actually have values for `loinc_code`. Here's a copy of

[2022-03-15 20:59] chris-dare opened #117 "feature/configure diagnostic panels in app"
**Tell us about your request!**
We'd like lab technicians to have the ability to configure diagnostic tests in app without the intervention of the Serenity team

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Panels can be added or edited in the application at will.

**Describe the solution you'd like**
_Design_ @agbavorrichmond
1. Design an interface t

[2022-03-15 21:18] chris-dare opened #118 "feature/get test results from diagnostic device connector"
**Tell us about your request!**
We'd like to ship a feature that allows us to retrieve a test results from a diagnostic device through the connector

What is envisioned is that clicking on a button will retrieve the test results from an API that has been shared by Clement the diagnostics consultant. This will prefill the test results panel with the information needed to create save the test result

[2022-03-15 21:34] chris-dare opened #119 "feature/set up DB cache for API"
**Tell us about your request!**
Integrate redis cache into the API server setup to cache DB queries

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Increased application performance

**Describe the solution you'd like**
Set up redis via elasticache or a custom redis server. Be sure to put this on the same VPC as the DB is/will be.
It's already been conf

[2022-03-17 21:30] chris-dare commented on #29
@TuyizereBapt please create a field on ServiceRequest called `encounter_diagnoses`.
Whenever a service request is created, we should grab the names of all diagnoses in the encounter and place then in a string joined by `" | "` in that field in ServiceRequest

[2022-03-17 21:34] chris-dare commented on #26
@pkdadson please let @TuyizereBapt what know you need for the date range parameters

[2022-03-18 11:10] chris-dare opened #120 "feature/display patient title on profile"
**Tell us about your request!**
Patients are sometimes called out by name at provider locations. Due to our cultural setting, it's often uncomfortable addressing a patient by the first and last name alone. Consequently we need to display the patient's title as part of their name in the application as well as in their receipt information

i.e before:
![image](https://user-images.githubusercontent.c

[2022-03-18 11:54] chris-dare opened #121 "feature/update bill cancelations"
**Tell us about your request!**
Update the bill cancelation feature on Serenity such that authorized practitioners (AP's) can request cancelations which can be approved and finally marked as cancelled upon reversal of payments.

See the [Serenity EMR - Bill cancelations flowchart](https://github.com/serenity-health/roadmap/files/8318187/Serenity.EMR.-.Bill.cancelations.pdf) to learn more about the

[2022-03-21 06:47] seddie62 commented on #91
@dexios1 what are the encounter notes you're talking about

[2022-03-21 07:06] chris-dare commented on #91
Hi @seddie62
These are the notes under encounter tab of a patient's profile

[2022-03-21 09:51] chris-dare commented on #121
Hey @TuyizereBapt, you'll need to implement a method on Stock like `Stock.pop()`

It will help us encapsulate the behaviour of topping up the inventory through ops like cancelations/refunds

So I'm thinking something

[code]

Then you can call this in ChargeItemCancelation to update inventory on bill cancelation

[2022-03-21 12:41] WealthSecrets commented on #117
@agbavorrichmond

[2022-03-21 12:41] WealthSecrets commented on #29
@TuyizereBapt

[2022-03-21 18:01] TuyizereBapt commented on #121
Which method on **ChargeItem** as shown in the snapshot below is used to pay for a ChargeItem? both?
ChargeItem.settle_payment() is somehow confusing

![image](https://user-images.githubusercontent.com/37751827/159335437-c851ab19-45d9-466d-ad7a-8f91e886d1fb.png)

[2022-03-21 18:04] chris-dare commented on #121
Use `settle_payment`

Please run a safe delete on `settle_payment_with_corporate` and take it out if it's not used anywhere. We don't use it anymore

[2022-03-21 18:07] chris-dare commented on #97
Just realized we still have this open. Closing it

[2022-03-21 18:07] #97 closed, assigned to TuyizereBapt

[2022-03-21 18:08] chris-dare commented on #38
Resolved in #89
Turns out this isn't necessary. We can always use the patient's last mode of payment instead

[2022-03-21 18:08] #38 closed, assigned to seddie62

[2022-03-21 18:12] TuyizereBapt commented on #121
So how do I know which type of account is used to pay for the ChargeItem? From the info in screshots below

Is it PaymentInfoPydanticModel.account_id or PaymentInfoPydanticModel.account? Os something else?

Why multiple charge_items by `charge_items = process_payment_via_account(...)`?

![image](https://user-images.githubusercontent.com/37751827/159336609-58e9234e-55c2-44bc-a84e-f3c0b7e9d70a.png)

[2022-03-21 18:16] chris-dare commented on #121
Under settle_payment, The charge item in

[code]

Will have either a patient_account, a payer_account or both.

It there is a `charge_item.patient_account`, set the mode to `patient_account.payment_mode`
Otherwise, set it to `charge_item.payer_account.payment_mode`

[2022-03-21 18:17] TuyizereBapt commented on #121
Okay. Thanks

[2022-03-21 18:17] chris-dare commented on #121
You're welcome. I just updated the comment FYI

[2022-03-21 18:28] TuyizereBapt commented on #121
It looks like `settle_payment_with_corporate` is used somewhere

![image](https://user-images.githubusercontent.com/37751827/159339772-7c348744-d3ba-47fe-826f-ce98f8a31d44.png)

[2022-03-21 18:29] chris-dare commented on #121
ok. just raise a NotImplementedError in `settle_payment_with_corporate` with todo to delete
Alternatively, you can delete that ..WithdrawalListView. It's useless

[2022-03-21 18:34] TuyizereBapt commented on #121
Let me delete both the View where it's used and the method itself

[2022-03-21 19:03] dexios1 commented on #104
Hi Dadson, the API for diagnostic device crud is ready.

@TuyizereBapt I just realized the PR in https://github.com/serenity-health/core-systems-api/pull/50 closed this automatically.

[2022-03-21 19:03] chris-dare commented on #104
Hi @pkdadson, the API for diagnostic device crud is ready.

@TuyizereBapt I just realized the PR in https://github.com/serenity-health/core-systems-api/pull/50 closed this automatically.

[2022-03-22 07:41] chris-dare commented on #121
Sure

[2022-03-22 10:24] TuyizereBapt commented on #121
That `ChargeItem.stock_item` Isn't the reference of the foreignkey wrong? I think it should have been Stock rather ChargeItem

How can I know the stock associated with the ChargeItem?

![image](https://user-images.githubusercontent.com/37751827/159459248-a6443674-fca4-4cc4-9354-5448816fc12d.png)

[2022-03-22 11:13] chris-dare commented on #121
That's correct. Change it

[2022-03-22 11:14] chris-dare commented on #121
See `medication.models.MedicationDispense.create`,

Particularly in 355 that says `# create charge item for that dispense and add to the invoice`

[2022-03-22 11:20] TuyizereBapt commented on #121
What does this mean?

[2022-03-22 11:20] chris-dare commented on #121
This is where you can can set the stock on the charge item being created

[2022-03-22 11:21] TuyizereBapt commented on #121
Is this not going to break things?

[2022-03-22 11:21] chris-dare commented on #121
Depends. What would you like to do?

[2022-03-22 11:22] TuyizereBapt commented on #121
`inventory_item` is Stock right?

[2022-03-22 11:32] chris-dare commented on #121
That's correct. Let's have a chat on this. Please come to Gather

[2022-03-22 12:00] chris-dare commented on #121
Concerning revoking a service request, there are 3 things that are necessary:

1. Setting the status of the service request to revoked. Where this means _"the request (and any implicit authorization to act) has been terminated prior to the known full completion of the intended actions. No further activity should occur"_
2. Setting actor of the revoke action: i.e a foreign key to the practioner rol

[2022-03-22 15:07] chris-dare commented on #121
Hi @pkdadson, I noticed that samples can be taken for a test when it's revoked. Please update this so the samples are only taken if the status is `active`. Because that's the only stage where a sample is expected to be collected to continue the process.

![image](https://user-images.githubusercontent.com/18426797/159513603-eaa9c271-7cd0-4416-99b4-b27d1f08a8bf.png)

[2022-03-23 06:17] seddie62 commented on #88
@dexios1 so when they're leaving the screen should they be forced to end the encounter?

[2022-03-23 07:17] chris-dare commented on #40
@agbavorrichmond we need the link to the UI for printing prescriptions

[2022-03-23 08:40] chris-dare commented on #88
Yes please.

If I attempt to close the browser, I should get a prompt telling me that I have not yet completed the encounter and tell me what inputs are missing so I can go to those areas and complete them

Same for exiting the encounter wizard to another page

[2022-03-23 16:31] chris-dare opened #122 "feature/update display of patient age"
**Tell us about your request!**
Sometimes, it's necessary to know 'precisely' how old a patient is so that the appropriate care can be given to the patient. This is especially helpful in pediatrics where a day old baby, for example, requires a different treatment from a 9 month old baby. Displaying both their ages as `0 years` may do more harm than good.

**Which app does this concern?**
Provider

[2022-03-23 22:29] chris-dare commented on #118
Hi Dadson, let's make some time to set this up tomorrow

[2022-03-25 11:14] chris-dare commented on #104
Hi @TuyizereBapt,

Dadson needs the API to conform to the UI we're are implementing. If there are necessary changes i.e. additional fields as well, then these need to be added to the UI based on the FHIR spec. We need:
1. What the required fields should be
2. Provision of valuesets like [device type](https://www.hl7.org/fhir/valueset-device-type.html)
3. Status reason valueset
4. Status valueset

[2022-03-25 18:30] #121 closed, assigned to TuyizereBapt

[2022-03-28 00:53] pkdadson commented on #121
<img width="1437" alt="Screenshot 2022-03-28 at 00 52 32" src="https://user-images.githubusercontent.com/38428845/160309246-ddf749d4-fd16-4a16-a5b8-40e706620cbf.png">
@dexios1 this is fixed

[2022-03-28 01:30] pkdadson commented on #116
Hello @agbavorrichmond

[2022-03-28 01:41] pkdadson commented on #104
@TuyizereBapt please we need a value set for device names to help create a device.
@dexios1 can fill you in on this.

[2022-03-28 02:01] pkdadson commented on #104
@dexios1 please can we split this card so we pay attention to the usecase.

[2022-03-28 02:02] pkdadson commented on #118
@dexios1 please is the api docs got this ready?

[2022-03-28 08:03] chris-dare commented on #121
Thank you very much

[2022-03-28 08:12] chris-dare commented on #118
This is what we got from Clement but it has to be put up on Readme

[2022-03-28 09:22] TuyizereBapt opened #123 "feature/manage diagnostic devices (CREATE and UPDATE)"
**Tell us about your request!**
Lab machines are a form of devices used at healthcare centers to analyze laboratory test specimen collected from patients. They are extremely helpful because they speed up the investigation process while improving the accuracy of test results

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can register devices u

[2022-03-28 09:22] TuyizereBapt opened #124 "feature/manage diagnostic devices (CREATE)"
**Tell us about your request!**
Lab machines are a form of devices used at healthcare centers to analyze laboratory test specimen collected from patients. They are extremely helpful because they speed up the investigation process while improving the accuracy of test results

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Providers can register devices u

[2022-03-28 09:24] #124 closed, assigned to chris-dare, agbavorrichmond, TuyizereBapt, pkdadson

[2022-03-28 09:25] TuyizereBapt commented on #123
Disregard the closed issue. It was a duplicate of this

[2022-03-28 09:39] chris-dare opened #125 "ops/OPD launch feature review"
**Tell us about your request!**
We need to review uncompleted items in the launch scope and define their definition of success/completion. These are

---
Reassign appointment
---
Add corporate employee quota
---
View scheduled and completed/confirmed patient billing
---
Print patient invoice bill before payment
---
View/search/filter bills
---
View patient lab reports
---
Receive Payment for order

[2022-03-28 13:04] TuyizereBapt commented on #123
**user_friendly_name** field is added under request fields rather than under device_names list

All other fields are optional except user_friendly_name

![image](https://user-images.githubusercontent.com/37751827/160403630-018a6012-3521-48ab-9412-f2598b43666c.png)

[2022-03-28 23:57] TuyizereBapt commented on #123
Here is the API endpoint documentation for device type value set
https://serenity-health.readme.io/reference/valuesets#device-types

[2022-03-29 00:46] TuyizereBapt commented on #123
Here is the API endpoint documentation for device update

https://serenity-health.readme.io/reference/diagnostics-workflow#update-a-diagnostic-device

[2022-03-30 21:21] TuyizereBapt opened #126 "bugfix/edit insurance beneficiary"
**Describe the bug**
There is a mismatch between the backend implementation and front-end usage of the API endpoint for editing an insurance beneficiary (https://serenity-health.readme.io/reference/insurance-clients-and-payments#edit-an-insurance-beneficiary)

**Impact**
_What is the impact of this problem_?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://demo.provider.serenit

[2022-03-30 21:26] TuyizereBapt commented on #126
@dexios1 let's look at this tomorrow to get it out of way

[2022-03-31 05:03] pkdadson commented on #123
<img width="667" alt="Screenshot 2022-03-31 at 05 03 06" src="https://user-images.githubusercontent.com/38428845/160980236-74396ba5-b0df-4c2a-bcf9-95d6f4e8637d.png">

@TuyizereBapt

[2022-03-31 09:17] pkdadson commented on #31
@dexios1 hello Chris

[2022-03-31 21:21] TuyizereBapt commented on #126
Fixed by: https://github.com/serenity-health/core-systems-api/pull/87

[2022-03-31 21:56] TuyizereBapt commented on #29
Why can't this instead be a property on the ServiceRequest? I think with this approach, you can even see Diagnoses carried out after the ServiceRequest was created. Is it supposed to be Diagnoses up until the ServiceRequest is created?

[2022-03-31 22:29] chris-dare commented on #29
Yes please create it as a field on the ServiceRequest. At the point of creation, it should just take all the encounter diagnoses recorded in that encounter and save it in that field.
It may be helpful to actually implement this as a ListField

[2022-04-01 13:53] chris-dare commented on #123
Any progress on this please? @TuyizereBapt @pkdadson

[2022-04-01 14:55] TuyizereBapt commented on #123
If you merged the PR, then the rest is up to @pkdadson unless there are other issues with the API

[2022-04-01 14:56] chris-dare commented on #123
Got it. Dadson I deployed it on yesterday's morning call. Please let us know if you it's done or help is required to complete the integration

[2022-04-06 18:23] chris-dare opened #127 "feature/select encounter time slot when starting visit"
**Tell us about your request!**
We need to give users the option to choose the date range for selecting time slots when starting a patient's visit - just like is done for appointments

The current interface for selecting slots when starting with visits is great. It just needs the date range filter so that users can explicitly select the time slots instead of working with the invisible and unchange

[2022-04-08 17:54] TuyizereBapt opened #128 "feature/prescriptions-filtering"
**Tell us about your request!**
With a long list of prescriptions, one would like to narrow down the list through filtering the results in order to see only what they intend to find

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
It will save time taken to search and find prescriptions

**Describe the solution you'd like**
Filter prescriptions (medicati

[2022-04-08 18:04] TuyizereBapt opened #129 "feature/lab-requests-filtering"
**Tell us about your request!**
As new lab requests are made, it becomes harder to find the relevant ones that a practitioner is interested in be for reporting or other purpose. Adding means to filter though the requests would help a practitioner see only what's relevant to their search

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
It will save time t

[2022-04-08 20:49] TuyizereBapt opened #130 "feature/appointment-reassignement"
**Tell us about your request!**
Enable patients who made appointments to see doctors, change the time slot of their appointment to another available convenient time of their choice.

**Which app does this concern?**
Provider portal

**What will be benefit of this feature?**
Efficient use of doctor's time. It eliminates waste of time slots which would be unused because patients are not available an

[2022-04-08 20:54] TuyizereBapt commented on #130
I actually realized there can be race conditions for time slots if not careful. What happens if patients try book the same time slot at the same time? When at the time of selecting the time slot, it was free for both of them

[2022-04-08 21:02] chris-dare commented on #130
Indeed. Can we account for these with atomic transactions?

[2022-04-08 21:03] chris-dare commented on #130
We currently do this for payments where patients try to spend from the same account at the same time

[2022-04-08 21:37] TuyizereBapt commented on #130
Does atomic transactions achieve that? I think atomic transactions mean all operations are successful together or all fail together

[2022-04-08 21:38] chris-dare commented on #130
That's correct. In django, don't they also lock the table for editing?

[2022-04-08 21:40] TuyizereBapt commented on #130
Whereas in order to prevent race conditions, you need **locking** like if a thread enters a method and code block, no other thread can execute that block of code until the other one releases the key

[2022-04-08 21:40] chris-dare commented on #130
Yh. How do we achieve this in django?

[2022-04-08 21:42] chris-dare commented on #130
This sounds like the way to go: https://hakibenita.com/how-to-manage-concurrency-in-django-models

[2022-04-08 21:44] TuyizereBapt commented on #130
**Model.objects.select_for_update().get(...)**

https://madil.in/avoid-race-conditions-in-django/
https://stackoverflow.com/questions/1030270/race-conditions-in-django
https://docs.djangoproject.com/en/4.0/ref/models/querysets/#django.db.models.query.QuerySet.select_for_update

[2022-04-08 21:46] TuyizereBapt commented on #130
Yup. It's that select_for_update() that does it. It locks the table row for modifications

[2022-04-08 21:51] TuyizereBapt commented on #130
Can be tricky if you are going to select more rows

![image](https://user-images.githubusercontent.com/37751827/162536767-68fa2247-3889-4142-b95b-b65f1f84a3c1.png)

[2022-04-08 21:53] chris-dare commented on #130
Got it. I guess we'd be fine for this use case since it's just one slot. But definitely helpful to know how to do this for multiple rows at the same time

[2022-04-08 21:55] TuyizereBapt commented on #130
Yes. It's good to know the caveats just in case you need to use it for other use cases

[2022-04-13 14:35] TuyizereBapt commented on #129
@dexios1 The lab requests are the service requests, right?

[2022-04-25 10:26] chris-dare commented on #17
Note: Lost metabase app data on Friday. App was not configured with backups.
Set up BI on metabase cloud (has backups built in) to mitigate risk of loss. Rebuilding dashboard between Mon 25 - Wed 27 2022

BI report recovery to deliver the following by 25 April 22 COB:
1. Billing dashboard
2. CE dashboard
3. Services report
4. Service price tiers report
5. Pharmacy inventory report
6. Pharmacy inve

[2022-05-17 16:39] chris-dare commented on #126
Hi @TuyizereBapt please take Dadson through the integration of this

[2022-05-17 22:55] TuyizereBapt commented on #126
Yes. @pkdadson should let me know any challenges he might face while integrating this. I remember he was the one who raised this issue.

[2022-06-02 15:14] chris-dare commented on #17
@rejoicehormeku

Here is the link to diagnostics reporting: https://github.com/serenity-health/roadmap/issues/81

[2022-06-02 15:18] chris-dare commented on #17
Here's the link to the customer experience report requirement: #18

[2022-06-21 15:42] chris-dare commented on #83
Notes from Interview with pharmacy team on 21 June 2022

Meeting participants (Serenity+NMC): Evans Boadi, Wilson Dodovi, Emma Odoi, Richmond Agbavor, Samuel Asiedu, Chris Dare

Held a user interview to elicit requirements for structuring project for next half of 2022. Will continue in the coming week.
Discussed the following:

**Outcome: Accountability via auditing and reporting**
Problem:
1. Loc

[2022-06-29 15:22] chris-dare commented on #83
Serenity: Interview with Customer experience team 21 June 2022
Meeting participants: Frank Tsiagbe, Sylvia Quansah, Eben (NMC Airport), James Ananga, Samuel Asiedu, Chris Dare

Outcome: Accountability via auditing and reporting
Problem:
1. Location inaccuracies in reporting
2. Reporting by assigned practitioners is not Practitioners are not assigned to
3. Selected location in the app changes
4. No

[2022-06-29 15:25] chris-dare commented on #83
### Serenity: Interview with NMC finance team (Wed 29th June 2022)

Meeting participants: Philip Adubeng, Dorothy Ako, Ken (NMC finance team), Marian Addo, Alexander King, Desmond (NMC finance team), Chris Dare
Link to recording: https://drive.google.com/file/d/1DH_sHGXby9MhpTARonYTXmtuHxBVtWfl/view?usp=sharing

**Outcome: Paying commissions specialists**
Problem:
1. Not finding some specialists i

[2022-06-29 16:01] chris-dare commented on #83
@rejoicehormeku @lew-monk please review: https://github.com/serenity-health/roadmap/issues/83#issuecomment-1170120689

There's a good deal of items that will relate to your ops here.

[2022-07-14 13:45] chris-dare commented on #83
### Serenity: Interview with NMC Nursing team 5 July 2022

**Outcome: Recording vitals**
Problem:
1. Not able to edit vitals
2. Not able to document nursing notes from encounter with recording of vitals
    1. Reasons why patients refused to have their vitals taken
    2. Administration of medication in first aid use cases (for nursing notes)
3. Not able to triage patients / risk
    1. Pain asses

[2022-07-14 13:45] chris-dare commented on #83
### Serenity: Interview with Medical team 8 July 2022

**Outcome: Interpreting diagnostic reports**
Problem:
Results don’t come with all necessary details
 - Flags
- Reference ranges
Not able to see test results of multiple service requests together
Not able to see progression of results of the same service request
Reference: Danpong Clinic is a good reference model
Request tests in batches

**Out

[2022-07-14 13:50] chris-dare commented on #83
### Serenity: Interview with diagnostics team 13 July 2022

**Outcome: Making a service requisition**
Problem:
1. Doctors request for tests not configured as healthcare services

**Outcome: Processing collecting samples in pre-analytics**

Problem:
1. Don’t have an identifier for tests requested in batches
    1. Having batch numbers also allows us to group test results based on requested batches

[2022-07-14 13:52] chris-dare commented on #83
### Serenity: Interview with NMC Sales and Marketing team 14 July 2022

**Outcome: Reporting and analytics**
Problem:
1. Not able to view data and reports the other teams have access to
    1. Revenue by business unit, payer, payer beneficiaries, payment methods
    2. Sales and operations dashboard for realtime analytics and reporting
    3. Active patients

**Outcome: Selling healthcare packages